{{!-- Use init at root component, remove elsewhere --}}
{{!-- {{#> init init--class="card" card=(concat (ternary card--class-update card--class-update (pfv)) 'card')}} --}}
{{!-- {{{{def name="something"}}}}
  stuff
{{{{/def}}}}
{{> something}} --}}

{{!-- (concat (ternary component--version component--version (pfv)) component-name) --}}
{{!-- {{assignVar 'version' 'v5'}} --}}

{{!-- root{{@root.component--class}}
root{{@root.version}} --}}
{{!-- {{assignVar 'component--class' 'card'}} --}}

{{!-- {{assignVar 'class--name' 'card'}} --}}

<div {{> class class--name='test'}}
  {{#if test--attribute}}
    {{{test--attribute}}}
  {{/if}}
  {{#if test--id}}
    id="{{{test--id}}}"
  {{/if}}>
  {{> @partial-block}}
</div>

{{!-- {{> component name="card"}} --}}
