<a href="{{nav-list-link--href}}" class="pf-c-nav__list{{#if nav-list--type}}-{{nav-list--type}}{{/if}}-link{{#if nav-list-link--current}} pf-m-current{{/if}}{{#if nav-list-link--modifier}} {{nav-list-link--modifier}}{{/if}}"
  {{#if nav-list-link--attribute}}
    {{{nav-list-link--attribute}}}
  {{/if}}

  {{#if nav-list-link--current}}
    aria-current="page"
  {{/if}}

  {{#if nav-list-item--expandable}}
    {{#if nav-list-item--expanded}}
      aria-expanded="true"
    {{else}}
      aria-expanded="false"
    {{/if}}
  {{/if}}>

  {{> @partial-block}}
  {{#if nav-list-item--expandable}}
    <span class="pf-c-nav__list-expand">
      <i class="fas fa-chevron-right"></i>
    </span>
  {{/if}}
</a>
