<div class="pf-c-slider__thumb{{#if slider-thumb--modifier}} {{slider-thumb--modifier}}{{/if}}"
  tabindex="0"
  role="slider"
  aria-valuemin="{{slider--value-min}}"
  aria-valuemax="{{slider--value-max}}"
  aria-valuenow="{{slider--value-now}}"
  aria-label="Value"
  {{#if slider-thumb--attribute}}
    {{{slider-thumb--attribute}}}
  {{/if}}>
</div>
