<div class="{{pfv}}toolbar__toggle{{#if toolbar-toggle--modifier}} {{toolbar-toggle--modifier}}{{/if}}"
  {{#if toolbar-toggle--attribute}}
    {{{toolbar-toggle--attribute}}}
  {{/if}}>
  {{#> menu-toggle
        menu-toggle--IsPlain=true
        menu-toggle--IsExpanded=toolbar-toggle--IsExpanded
        menu-toggle--attribute=(concat 'aria-label="Show filters" aria-controls="' toolbar--id '-expandable-content"')
      }}
    <i class="fas {{#if toolbar-toggle--icon}}{{toolbar-toggle--icon}}{{else}}fa-filter{{/if}}" aria-hidden="true"></i>
  {{/menu-toggle}}
</div>
