<div class="{{pfv}}toolbar__toggle{{#if toolbar-toggle--modifier}} {{toolbar-toggle--modifier}}{{/if}}"
  {{#if toolbar-toggle--attribute}}
    {{{toolbar-toggle--attribute}}}
  {{/if}}>
  {{#> menu-toggle menu-toggle--IsPlain=true menu-toggle--IsExpanded=toolbar-toggle--IsExpanded menu-toggle--attribute=(concat 'aria-label="Show filters" aria-expanded="' toolbar-toggle--IsExpanded '" aria-controls="' toolbar--id '-expandable-content"')}}
    {{#if toolbar-toggle--icon}}
      <i class="fas {{toolbar-toggle--icon}}" aria-hidden="true"></i>
    {{else}}
      <i class="fas fa-filter" aria-hidden="true"></i>
    {{/if}}
  {{/menu-toggle}}
</div>
