<span class="{{pfv}}badge
  {{#if badge--IsUnread}}pf-m-unread {{/if}}
  {{#if badge--modifier}} {{badge--modifier}}{{/if}}"
  {{#if badge--attribute}}
    {{{badge--attribute}}}
  {{/if}}>
  {{#if badge--text}}
    {{badge--text}}
  {{else if @partial-block}}
    {{> @partial-block}}
  {{/if}}
  {{#if badge--IsUnread}}
    {{#> screen-reader}}unread messages{{/screen-reader}}
  {{/if}}
</span>
