<span class="{{pfv}}tabs__toggle-text{{#if tabs-toggle-text--modifier}} {{tabs-toggle-text--modifier}}{{/if}}"
  id="{{tabs--id}}-toggle-text"
  {{#if tabs-toggle-text--attribute}}
    {{{tabs-toggle-text--attribute}}}
  {{/if}}>
  {{#if tabs-toggle--text}}
    {{tabs-toggle--text}}
  {{else}}
    Containers
  {{/if}}
</span>
