<style>
  .{{foo-size}} svg {
    width: var(--{{foo-size}});
    height: var(--{{foo-size}});
  }
</style>

<h1 class="pf-c-title pf-m-md pf-u-mb-sm">
  --{{foo-size}}
</h1>

<div class="pf-l-flex pf-m-align-items-center {{foo-size}}">

<svg id="ac592197-0436-4072-8a79-5470ab2a187b" data-name="Icons" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M4.44,6.45,7.37,3.52V12a.63.63,0,0,0,.63.62A.62.62,0,0,0,8.62,12V3.51l2.94,2.94a.63.63,0,1,0,.88-.89l-4-4a.63.63,0,0,0-.88,0l-4,4a.63.63,0,1,0,.88.89ZM14,14.38H2a.63.63,0,1,0,0,1.25H14a.63.63,0,0,0,0-1.25Z"/></svg>

<svg id="eee4f426-84db-4429-9968-7e5a446c2f44" data-name="Icons" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M12.83,12.14,9.61,5.7a.32.32,0,0,1,0-.16V3.33H10a.58.58,0,0,0,0-1.15H9a.58.58,0,0,0-.58.58V5.54a1.57,1.57,0,0,0,.16.67L9.92,8.9a1.64,1.64,0,0,1-2-.23A2.77,2.77,0,0,0,5.57,7.9l.84-1.69a1.44,1.44,0,0,0,.16-.67V2.76A.58.58,0,0,0,6,2.18H5A.58.58,0,1,0,5,3.33h.42V5.54a.32.32,0,0,1,0,.16L2.16,12.14a1.52,1.52,0,0,0,1.35,2.19h8a1.52,1.52,0,0,0,1.35-2.19Zm-1,.87a.38.38,0,0,1-.31.17h-8A.38.38,0,0,1,3.2,13a.37.37,0,0,1,0-.35L4.77,9.5h0a1.63,1.63,0,0,1,2.31,0,2.76,2.76,0,0,0,2,.81,2.71,2.71,0,0,0,1.38-.38l1.37,2.74A.37.37,0,0,1,11.79,13Z"/></svg>

<svg id="aaeb3a45-22f8-4e27-a6df-addcd9fe5d45" data-name="Icons" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M11,9.43a2.57,2.57,0,0,0-1.89.84L6.45,8.75A2.6,2.6,0,0,0,6.57,8a2.55,2.55,0,0,0-.12-.74L9.11,5.75A2.57,2.57,0,1,0,11,1.43,2.59,2.59,0,0,0,8.42,4a2.6,2.6,0,0,0,.12.74L5.88,6.27a2.57,2.57,0,1,0,0,3.48l2.66,1.52a2.55,2.55,0,0,0-.12.74A2.58,2.58,0,1,0,11,9.43Zm0-6.85A1.43,1.43,0,1,1,9.57,4,1.43,1.43,0,0,1,11,2.58ZM4,9.43A1.43,1.43,0,1,1,5.42,8,1.43,1.43,0,0,1,4,9.43Zm7,4A1.43,1.43,0,1,1,12.42,12,1.43,1.43,0,0,1,11,13.43Z"/></svg>

<svg id="Icons" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><title>UI_Icon-Red_Hat-Person-A-Black-RGB</title><path d="M10.13,7.8a3.19,3.19,0,1,0-4.26,0A5.62,5.62,0,0,0,2.38,13a.62.62,0,0,0,.62.63A.63.63,0,0,0,3.63,13a4.38,4.38,0,0,1,8.75,0,.62.62,0,0,0,.62.63.63.63,0,0,0,.63-.63A5.62,5.62,0,0,0,10.13,7.8ZM8,7.38A1.94,1.94,0,1,1,9.94,5.44,1.94,1.94,0,0,1,8,7.38Z"/></svg>

<svg id="ab113d69-c713-4859-8514-a4595e5f562a" data-name="Icons" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M14.41,11.43l-3-3a.58.58,0,0,0-.81,0L9.3,9.74l-3-3L7.57,5.4a.58.58,0,0,0,0-.81l-3-3a.58.58,0,0,0-.81,0L2.48,2.88A3.6,3.6,0,0,0,2.48,8L8,13.52a3.57,3.57,0,0,0,5.08,0l1.29-1.28A.58.58,0,0,0,14.41,11.43Zm-2.1,1.28a2.51,2.51,0,0,1-3.46,0L3.29,7.15a2.46,2.46,0,0,1,0-3.46l.88-.88L6.35,5,5,6.3a.58.58,0,0,0,0,.81L8.89,11a.58.58,0,0,0,.81,0L11,9.65l2.18,2.18Z"/></svg>

<svg id="Icons" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><title>UI_Icon-Red_Hat-Search-A-Black-RGB</title><path d="M14,11.94,11.22,9.23a4.74,4.74,0,1,0-.87.89l2.82,2.72a.62.62,0,0,0,.44.18A.63.63,0,0,0,14,11.94ZM7.5,9.88a3.38,3.38,0,1,1,3.37-3.37A3.37,3.37,0,0,1,7.5,9.88Z"/></svg>

<svg id="a38754b0-101d-4553-b822-c1b26dc1aa07" data-name="Icons" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M8,12.33H8a.67.67,0,0,0-.67.68.68.68,0,0,0,.69.67.68.68,0,0,0,0-1.35ZM8,2.38A3.64,3.64,0,0,0,4.37,6,.63.63,0,0,0,5,6.63.62.62,0,0,0,5.62,6a2.38,2.38,0,1,1,4.75,0,2.24,2.24,0,0,1,0,.52,2.58,2.58,0,0,1-.41.89c-.05.06-.09.12-.15.18A1.75,1.75,0,0,1,9.34,8L9.24,8a6,6,0,0,0-.58.4,3.68,3.68,0,0,0-1.32,2.66.64.64,0,0,0,.6.65H8a.63.63,0,0,0,.62-.6,2.4,2.4,0,0,1,.87-1.74,3.58,3.58,0,0,1,.45-.31L10,9a3.39,3.39,0,0,0,.68-.59,2.75,2.75,0,0,0,.22-.26,3.6,3.6,0,0,0,.63-1.36,3.56,3.56,0,0,0,.08-.8A3.63,3.63,0,0,0,8,2.38Z"/></svg>

<svg id="ae1c123d-839f-4dea-90f1-c6ec3838bf30" data-name="Icons" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M13.44,4.57a.63.63,0,0,0-.89,0L6,11.12,2.44,7.56a.63.63,0,0,0-.89.88l4,4a.64.64,0,0,0,.45.18.66.66,0,0,0,.44-.18l7-7A.63.63,0,0,0,13.44,4.57Z"/></svg>

<svg id="Icons" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><title>UI_Icon-Red_Hat-Switcher-A-Black-RGB</title><path d="M3.45,7a1.15,1.15,0,0,0-.38.26,1,1,0,0,0-.25.37A1.08,1.08,0,0,0,2.74,8a1.17,1.17,0,0,0,.33.8,1.14,1.14,0,0,0,.8.32,1.07,1.07,0,0,0,.79-.33A1.13,1.13,0,0,0,3.45,7Zm0,4.14a1.15,1.15,0,0,0-.38.26,1,1,0,0,0-.25.37,1.08,1.08,0,0,0-.08.42,1.17,1.17,0,0,0,.33.8,1.13,1.13,0,0,0,.8.32,1.07,1.07,0,0,0,.79-.33,1.13,1.13,0,0,0-1.21-1.84ZM12.14,5a1.1,1.1,0,0,0,.79-.33,1.08,1.08,0,0,0,.33-.8A1.1,1.1,0,0,0,13,3.08a1.13,1.13,0,0,0-1.22-.27,1.14,1.14,0,0,0-.39.26,1.08,1.08,0,0,0-.25.38,1.24,1.24,0,0,0-.08.41A1.14,1.14,0,0,0,12.14,5ZM3.45,2.81a1.15,1.15,0,0,0-.38.26,1.08,1.08,0,0,0-.25.38,1,1,0,0,0-.08.41,1.15,1.15,0,0,0,.33.8,1.14,1.14,0,0,0,.8.33,1.11,1.11,0,0,0,.79-.33A1.14,1.14,0,0,0,5,3.86a1.1,1.1,0,0,0-.32-.78A1.13,1.13,0,0,0,3.45,2.81ZM11.73,7a1.14,1.14,0,0,0-.39.26,1.13,1.13,0,0,0-.25.37A1.3,1.3,0,0,0,11,8a1.12,1.12,0,0,0,.34.8,1.1,1.1,0,0,0,.79.32A1.09,1.09,0,0,0,13.26,8,1.08,1.08,0,0,0,13,7.22,1.11,1.11,0,0,0,11.73,7ZM7.59,11.09a1,1,0,0,0-.39.26,1,1,0,0,0-.25.37,1.3,1.3,0,0,0-.08.42,1.13,1.13,0,0,0,.33.79,1.09,1.09,0,0,0,.8.33,1.11,1.11,0,0,0,1.12-1.12,1.1,1.1,0,0,0-.31-.78A1.13,1.13,0,0,0,7.59,11.09Zm0-8.28a1.1,1.1,0,0,0-.39.26A1.14,1.14,0,0,0,7,3.45a1.24,1.24,0,0,0-.08.41A1.13,1.13,0,0,0,8,5,1.11,1.11,0,0,0,9.12,3.86a1.1,1.1,0,0,0-.31-.78A1.13,1.13,0,0,0,7.59,2.81Zm4.14,8.28a1.14,1.14,0,0,0-.39.26,1.13,1.13,0,0,0-.25.37,1.3,1.3,0,0,0-.08.42,1.14,1.14,0,0,0,1.13,1.12,1.13,1.13,0,0,0,.8-.32,1.14,1.14,0,0,0,.32-.8,1.08,1.08,0,0,0-.31-.78A1.13,1.13,0,0,0,11.73,11.09ZM7.59,7a1,1,0,0,0-.39.26A1,1,0,0,0,7,7.58,1.3,1.3,0,0,0,6.87,8a1.14,1.14,0,0,0,.34.8A1.12,1.12,0,1,0,7.59,7Z"/></svg>

<svg id="aedd56ee-007a-417c-90e8-6b381ff5f774" data-name="Icons" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M13,9.42a.58.58,0,0,0-.58.58v2.42H3.58V3.58H6A.58.58,0,0,0,6,2.42H3A.58.58,0,0,0,2.42,3V13a.58.58,0,0,0,.58.58H13a.58.58,0,0,0,.58-.58V10A.58.58,0,0,0,13,9.42Zm0-7H8.29a.58.58,0,0,0,0,1.16h3.32l-4,4a.59.59,0,0,0,0,.82.58.58,0,0,0,.82,0l4-4V7.71a.58.58,0,1,0,1.16,0V3A.58.58,0,0,0,13,2.42Z"/></svg>

<svg id="Icons" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><title>UI_Icon-Red_Hat-Close-A-Black-RGB</title><path d="M12.54,11.46,8.92,7.83l3.45-3.46a.63.63,0,0,0,0-.88.61.61,0,0,0-.88,0L8,6.94,4.54,3.46a.61.61,0,0,0-.88,0,.63.63,0,0,0,0,.88L7.15,7.83,3.49,11.49a.61.61,0,0,0,0,.88.63.63,0,0,0,.88,0L8,8.71l3.63,3.63a.63.63,0,0,0,.88,0A.61.61,0,0,0,12.54,11.46Z"/></svg>

<svg version="1.1" id="Icons" x="0px" y="0px"
	 viewBox="0 0 16 16" style="enable-background:new 0 0 16 16;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#FFFFFF;}
	.st1{fill:#EE0000;}
</style>
<path d="M14.4,6.8c0-0.2-0.3-0.4-0.5-0.4h-1.3c-0.1-0.2-0.1-0.3-0.2-0.5L13.3,5c0.2-0.2,0.2-0.4,0.1-0.6c-0.5-0.7-1-1.2-1.7-1.7
	c-0.2-0.1-0.5-0.1-0.6,0.1l-0.9,0.9C10,3.5,9.8,3.4,9.7,3.4V2.1c0-0.2-0.2-0.4-0.4-0.5c-0.8-0.2-1.6-0.2-2.4,0
	c-0.2,0-0.4,0.2-0.4,0.5v1.3C6.2,3.4,6.1,3.5,5.9,3.6L5,2.7C4.8,2.5,4.6,2.5,4.4,2.6c-0.7,0.5-1.2,1-1.7,1.7
	C2.5,4.5,2.5,4.8,2.7,4.9l0.9,0.9C3.5,6,3.4,6.2,3.4,6.4H2.1c-0.2,0-0.4,0.2-0.5,0.4C1.5,7.2,1.5,7.6,1.5,8c0,0.4,0,0.8,0.1,1.2
	c0,0.2,0.3,0.4,0.5,0.4h1.3c0.1,0.2,0.1,0.4,0.2,0.5l-0.9,0.9c-0.2,0.2-0.2,0.4-0.1,0.6c0.5,0.7,1,1.2,1.7,1.7
	c0.2,0.1,0.5,0.1,0.6-0.1l0.9-0.9c0.2,0.1,0.4,0.2,0.5,0.2v1.3c0,0.2,0.2,0.4,0.4,0.5c0.4,0.1,0.8,0.1,1.2,0.1c0.4,0,0.8,0,1.2-0.1
	c0.2,0,0.4-0.3,0.4-0.5v-1.3c0.2-0.1,0.3-0.1,0.5-0.2l0.9,0.9c0.2,0.2,0.4,0.2,0.6,0.1c0.7-0.5,1.2-1,1.7-1.7
	c0.1-0.2,0.1-0.5-0.1-0.6l-0.9-0.9c0.1-0.2,0.1-0.3,0.2-0.5h1.3c0.2,0,0.4-0.2,0.5-0.4c0.1-0.4,0.1-0.8,0.1-1.2
	C14.5,7.6,14.5,7.2,14.4,6.8z M13.5,8.6h-1.2c-0.2,0-0.4,0.2-0.5,0.4c-0.1,0.3-0.2,0.7-0.4,1c-0.1,0.2-0.1,0.4,0.1,0.6l0.9,0.9
	c-0.3,0.3-0.5,0.6-0.9,0.9l-0.8-0.8c-0.2-0.2-0.4-0.2-0.6-0.1c-0.3,0.2-0.6,0.3-1,0.4c-0.2,0.1-0.4,0.3-0.4,0.5v1.2
	c-0.4,0-0.8,0.1-1.2,0v-1.2c0-0.2-0.2-0.4-0.4-0.5c-0.4-0.1-0.7-0.2-1-0.4c-0.2-0.1-0.4-0.1-0.6,0.1l-0.9,0.9
	c-0.3-0.3-0.6-0.5-0.9-0.9l0.8-0.8c0.2-0.2,0.2-0.4,0.1-0.6C4.5,9.7,4.3,9.3,4.2,9C4.2,8.8,4,8.6,3.7,8.6H2.5c0-0.2,0-0.4,0-0.6
	c0-0.2,0-0.4,0-0.6h1.2C4,7.4,4.2,7.2,4.2,7c0.1-0.4,0.2-0.7,0.4-1c0.1-0.2,0.1-0.4-0.1-0.6L3.7,4.5C4,4.2,4.3,3.9,4.6,3.7l0.9,0.9
	C5.6,4.7,5.9,4.7,6,4.6c0.3-0.2,0.6-0.3,1-0.4C7.3,4.2,7.4,4,7.4,3.7V2.5c0.4,0,0.8,0,1.2,0v1.2C8.7,4,8.8,4.2,9,4.2
	c0.3,0.1,0.7,0.2,1,0.4c0.2,0.1,0.4,0.1,0.6-0.1l0.8-0.8c0.3,0.3,0.6,0.5,0.9,0.9l-0.9,0.9c-0.2,0.2-0.2,0.4-0.1,0.6
	c0.2,0.3,0.3,0.6,0.4,1c0.1,0.2,0.3,0.4,0.5,0.4h1.2c0,0.2,0,0.4,0,0.6C13.5,8.2,13.5,8.4,13.5,8.6z M8.1,5.6C6.8,5.6,5.7,6.7,5.7,8
	s1.1,2.4,2.4,2.4s2.4-1.1,2.4-2.4S9.4,5.6,8.1,5.6z M8.1,9.4C7.3,9.4,6.7,8.8,6.7,8s0.6-1.4,1.4-1.4S9.5,7.2,9.5,8S8.9,9.4,8.1,9.4z
	"/>
</svg>

<svg id="Icons" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M13.09,2.64a3,3,0,0,0-4.15,0L6.1,5.49a2.93,2.93,0,0,0,0,4.15.63.63,0,0,0,.88,0,.64.64,0,0,0,0-.89,1.65,1.65,0,0,1-.49-1.19A1.66,1.66,0,0,1,7,6.37L9.83,3.53A1.68,1.68,0,1,1,12.2,5.91l-.62.62a.63.63,0,1,0,.89.88l.62-.62a2.93,2.93,0,0,0,0-4.15Z"/><path d="M8.61,6.77a.64.64,0,0,0,0,.89,1.68,1.68,0,0,1,0,2.37L6.17,12.47a1.68,1.68,0,0,1-2.38,0,1.7,1.7,0,0,1,0-2.38L3.94,10a.64.64,0,0,0,0-.89.63.63,0,0,0-.88,0l-.15.15a3,3,0,0,0,0,4.15,3,3,0,0,0,4.15,0l2.43-2.44a2.9,2.9,0,0,0,.86-2.07A2.93,2.93,0,0,0,9.5,6.77.64.64,0,0,0,8.61,6.77Z"/></svg>

<svg id="e857e729-39ab-4c68-9885-096c09ca0687" data-name="Icons" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M13,11.29l-1-2.39V7A4.08,4.08,0,1,0,3.92,7V8.9L3,11.29a.6.6,0,0,0,0,.54.58.58,0,0,0,.48.25H5.94a1.1,1.1,0,0,0,0,.18,2.08,2.08,0,0,0,4.15,0,1.09,1.09,0,0,0,0-.18H12.5a.58.58,0,0,0,.48-.25A.6.6,0,0,0,13,11.29ZM8,13.18a.93.93,0,0,1-.93-.92.58.58,0,0,1,0-.18H8.89a.57.57,0,0,1,0,.18A.92.92,0,0,1,8,13.18ZM8,2.51a.75.75,0,1,0-.75-.75A.76.76,0,0,0,8,2.51Z"/></svg>

</div>