<div class="pf-c-data-list__check{{#if data-list-check--modifier}} {{data-list-check--modifier}}{{/if}}"
  {{#if data-list-check--attribute}}
    {{{data-list-check--attribute}}}
  {{/if}}>
  <input type="checkbox"
    name="{{data-list--id}}-{{data-list-item--id}}-checkbox"
    aria-labelledby="{{data-list--id}}-{{data-list-item--id}}"
    {{#if checkbox--attribute}}
      {{{checkbox--attribute}}}
    {{/if}}>
</div>
