<li class="pf-c-menu__list-item
  {{~#unless menu-list-item--IsCurrentReset}}
    {{#if menu-list-item--IsCurrentPath}} pf-m-current-path{{/if}}
  {{/unless}}
  {{~#if menu-list-item--IsDisabled}}
    pf-m-disabled
  {{/if}}
  {{~#if menu-list-item--IsDrillUp}}
    pf-m-drill-up
  {{/if}}
  {{~#if menu-list-item--modifier}} {{menu-list-item--modifier}}{{/if}}"
  {{#if menu-list-item--IsCheckbox}}
    role="menuitem"
  {{else}}
    role="none"
  {{/if}}
  {{#if menu-list-item--attribute}}
    {{{menu-list-item--attribute}}}
  {{/if}}>
  {{#if menu-list-item--IsExpandable}}
    {{#if menu-list-item--IsExpandableReset}}
      {{#> menu-item}}
        {{#> menu-item-main}}
          {{#if menu-list-item--icon}}
            {{#> menu-item-icon}}
              <i class="fa-fw fa-{{menu-list-item--icon}}" aria-hidden="true"></i>
            {{/menu-item-icon}}
          {{/if}}
          {{#> menu-item-text}}
            {{{menu-list-item--text}}}
          {{/menu-item-text}}
        {{/menu-item-main}}
      {{/menu-item}}
    {{else}}
      {{#> menu-item}}
        {{#> menu-item-main}}
          {{#if menu-list-item--icon}}
            {{#> menu-item-icon}}
              <i class="fas fa-fw fa-{{menu-list-item--icon}}" aria-hidden="true"></i>
            {{/menu-item-icon}}
          {{/if}}
          {{#> menu-item-text}}
            {{{menu-list-item--text}}}
          {{/menu-item-text}}
          {{> menu-item-toggle-icon}}
        {{/menu-item-main}}
      {{/menu-item}}
    {{/if}}
  {{else if menu-list-item--IsDrillUp}}
    {{#> menu-item}}
      {{#> menu-item-main}}
        {{> menu-item-toggle-icon menu-item-toggle-icon--IsDrillup="true"}}
        {{#if menu-list-item--icon}}
          {{#> menu-item-icon}}
            <i class="fas fa-fw fa-{{menu-list-item--icon}}" aria-hidden="true"></i>
          {{/menu-item-icon}}
        {{/if}}
        {{#> menu-item-text}}
          {{{menu-list-item--text}}}
        {{/menu-item-text}}
      {{/menu-item-main}}
    {{/menu-item}}
  {{else if menu-list-item--text}}
    {{#> menu-item}}
      {{#> menu-item-main}}
        {{#if menu-list-item--icon}}
          {{#> menu-item-icon}}
            <i class="fas fa-fw fa-{{menu-list-item--icon}}" aria-hidden="true"></i>
          {{/menu-item-icon}}
        {{/if}}
        {{#> menu-item-text}}
          {{{menu-list-item--text}}}
        {{/menu-item-text}}
      {{/menu-item-main}}
    {{/menu-item}}
  {{/if}}
  {{#if @partial-block}}
    {{> @partial-block}}
  {{/if}}
</li>
