<span class="{{pfv}}menu__item-toggle-icon{{#if menu-item-toggle-icon--modifier}} {{menu-item-toggle-icon--modifier}}{{/if}}"
  {{#if menu-item-toggle-icon--attribute}}
    {{{menu-item-toggle-icon--attribute}}}
  {{/if}}>
  {{#if menu-item-toggle-icon--IsDrillup}}
    {{{pfIcon "rh-microns-caret-left"}}}
  {{else}}
    {{{pfIcon "rh-microns-caret-right"}}}
  {{/if}}
</span>
