<label class="pf-c-menu__label{{#if menu-label--modifier}} {{menu-label--modifier}}{{/if}}"
  for="{{menu--id}}-menu-item-{{menu-list-item--id}}-check"
  {{#if menu-label--attribute}}
    {{{menu-label--attribute}}}
  {{/if}}>
  {{#if menu-item--IsCheckbox}}
    {{> menu-check-input menu-check-input--attribute=(concat 'id="' menu--id '-menu-item-' menu-list-item--id '-check" name="menu-item-' menu-list-item--id '-check"')}}
  {{/if}}
  {{#if menu-label--text}}
    {{#> menu-item-text}}
      {{{menu-label--text}}}
    {{/menu-item-text}}
  {{/if}}
  {{#if @partial-block}}
    {{> @partial-block}}
  {{/if}}
</label>
