<div class="{{pfv}}dual-list-selector__controls-item{{#if dual-list-selector-controls-item--modifier}} {{dual-list-selector-controls-item--modifier}}{{/if}}"
  {{#if dual-list-selector-controls-item--attribute}}
    {{{dual-list-selector-controls-item--attribute}}}
  {{/if}}>
  {{#if dual-list-selector-controls-item--IsAdd}}
    {{> button button--modifier="pf-m-plain" button--IsDisabled=dual-list-selector-controls-item--IsDisabled button--attribute='aria-label="Add selected"' button--IsIcon=true button--icon="angle-right fa-fw"}}
  {{else if dual-list-selector-controls-item--IsAddAll}}
    {{> button button--modifier="pf-m-plain" button--IsDisabled=dual-list-selector-controls-item--IsDisabled button--attribute='aria-label="Add all"' button--IsIcon=true button--icon="angle-double-right fa-fw"}}
  {{else if dual-list-selector-controls-item--IsRemoveAll}}
    {{> button button--modifier="pf-m-plain" button--IsDisabled=dual-list-selector-controls-item--IsDisabled button--attribute='aria-label="Remove all"' button--IsIcon=true button--icon="angle-double-left fa-fw"}}
  {{else if dual-list-selector-controls-item--IsRemove}}
    {{> button button--modifier="pf-m-plain" button--IsDisabled=dual-list-selector-controls-item--IsDisabled button--attribute='aria-label="Remove selected"' button--IsIcon=true button--icon="angle-left fa-fw"}}
  {{else if @partial-block}}
    {{>@partial-block}}
  {{/if}}
</div>
