<span class="pf-c-dual-list-selector__item-check{{#if dual-list-selector-item-check--modifier}} {{dual-list-selector-item-check--modifier}}{{/if}}"
  {{#if dual-list-selector-item-check--attribute}}
    {{dual-list-selector-item-check--attribute}}
  {{/if}}>
  {{#if dual-list-selector-item-check--IsChecked}}
    <input type="checkbox" id="check-{{{dual-list-selector-item--id}}}" checked aria-label="Dual list selector item check checked">
  {{else}}
    <input type="checkbox" id="check-{{{dual-list-selector-item--id}}}" aria-label="Dual list selector item check">
  {{/if}}
</span>
