{{#> button
  button--IsAriaExpanded=notification-badge--IsExpanded
  button--modifier="pf-m-plain"
  button--attribute=(concat 'aria-label="' notification-badge--aria-label '"')}}
  <span class="{{pfv}}notification-badge
    {{~#if notification-badge--IsUnread}} pf-m-unread
    {{~else if notification-badge--IsAttention}} pf-m-attention
    {{~else}} pf-m-read
    {{~/if}}
    {{~#if notification-badge--IsExpanded}}
      pf-m-expanded
    {{~/if}}
    {{~#if notification-badge--modifier}} {{notification-badge--modifier}}{{/if}}"
    {{#if notification-badge--attribute}}
      {{{notification-badge--attribute}}}
    {{/if}}>
    {{!-- TODO in Breaking Change: Add a wrapper element around the icon to follow
          how other components' markup is structured for icons
     --}}
    <i class="
      {{~#if notification-badge--IsTask}}
        pf-v6-pficon-task
      {{~else if notification-badge--IsAttention}}
        pf-v6-pficon-attention-bell
      {{~else}}
        pf-v6-pficon-bell
      {{~/if}}"
      aria-hidden="true"></i>
    {{#if notification-badge--count}}
      <span class="{{pfv}}notification-badge__count">
        {{notification-badge--count}}
      </span>
    {{/if}}
  </span>
{{/button}}
