<{{#if modal-box-title--type}}{{modal-box-title--type}}{{else}}h1{{/if}} class="{{pfv}}modal-box__title{{#if modal-box-title--IsIcon}} pf-m-icon{{/if}}{{#if modal-box-title--modifier}} {{modal-box-title--modifier}}{{/if}}"
  {{#if modal-box-title--attribute}}
    {{{modal-box-title--attribute}}}
  {{/if}}>
  {{#if modal-box-title--IsIcon}}
    {{> modal-box-title-icon}}
  {{/if}}
  {{#if modal-box--IsAlert}}
    <span class="{{pfv 'u'}}screen-reader">
      {{#if modal-box--IsCustomAlert}}
        Default
      {{else if modal-box--IsInfoAlert}}
        Info
      {{else if modal-box--IsSuccessAlert}}
        Success
      {{else if modal-box--IsWarningAlert}}
        Warning
      {{else if modal-box--IsDangerAlert}}
        Danger
      {{/if}}
      alert:
    </span>
  {{/if}}
  {{#if modal-box-title--IsIcon}}
    {{#> modal-box-title-text}}
      {{> @partial-block}}
    {{/modal-box-title-text}}
  {{else}}
    {{> @partial-block}}
  {{/if}}
</{{#if modal-box-title--type}}{{modal-box-title--type}}{{else}}h1{{/if}}>
