<span class="{{pfv}}modal-box__title-icon{{#if modal-box-title-icon--modifier}} {{modal-box-title-icon--modifier}}{{/if}}"
  {{#if modal-box-title-icon--attribute}}
    {{{modal-box-title-icon--attribute}}}
  {{/if}}>
  {{#if modal-box--IsCustomAlert}}
    {{pfIcon "rh-ui-notification-fill"}}
  {{else if modal-box--IsInfoAlert}}
    {{pfIcon "rh-ui-information-fill"}}
  {{else if modal-box--IsSuccessAlert}}
    {{pfIcon "rh-ui-check-circle-fill"}}
  {{else if modal-box--IsWarningAlert}}
    {{pfIcon "rh-ui-warning-fill"}}
  {{else if modal-box--IsDangerAlert}}
    {{pfIcon "rh-ui-error-fill"}}
  {{else}}
    {{pfIcon modal-box-title-icon--type}}
  {{/if}}
</span>
