<div class="pf-c-modal-box{{#if modal-box--IsDangerAlert}} pf-m-danger{{else if modal-box--IsWarningAlert}} pf-m-warning{{else if modal-box--IsSuccessAlert}} pf-m-success{{else if modal-box--IsInfoAlert}} pf-m-info{{else if modal-box--IsDefaultAlert}} pf-m-default{{/if}}{{#if modal-box--modifier}} {{modal-box--modifier}}{{/if}}"
  aria-modal="true"
  {{#if modal-box--attribute}}
    {{{modal-box--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
