<div class="pf-c-modal-box{{#if modal-box--modifier}} {{modal-box--modifier}}{{/if}}"
  role="dialog" 
  aria-modal="true"
  {{#if id}}
    id="{{id}}"
  {{/if}}
  {{#if aria-labelledby}}
    aria-labelledby="{{aria-labelledby}}"
  {{else}}
    [Missing required aria-labelledby value]
  {{/if}}
  {{#if aria-describedby}}
    aria-describedby="{{aria-describedby}}"
  {{/if}}
>
  {{> @partial-block}}
</div>
