<span class="{{pfv}}modal-box__title-icon{{#if modal-box-title-icon--modifier}} {{modal-box-title-icon--modifier}}{{/if}}"
  {{#if modal-box-title-icon--attribute}}
    {{{modal-box-title-icon--attribute}}}
  {{/if}}>
  {{#if modal-box--IsCustomAlert}}
    <i class="fas fa-fw fa-bell" aria-hidden="true"></i>
  {{else if modal-box--IsInfoAlert}}
    <i class="fas fa-fw fa-info-circle" aria-hidden="true"></i>
  {{else if modal-box--IsSuccessAlert}}
    <i class="fas fa-fw fa-check-circle" aria-hidden="true"></i>
  {{else if modal-box--IsWarningAlert}}
    <i class="fas fa-fw fa-exclamation-triangle" aria-hidden="true"></i>
  {{else if modal-box--IsDangerAlert}}
    <i class="fas fa-fw fa-exclamation-circle" aria-hidden="true"></i>
  {{else}}
    <i class="fas fa-fw fa-{{modal-box-title-icon--type}}" aria-hidden="true"></i>
  {{/if}}
</span>
