{{#> reset grid--attribute=reset grid-item--attribute=reset grid--modifier=reset grid-item--modifier=reset l-flex--attribute=reset l-flex-item--attribute=reset l-flex--modifier=reset l-flex-item--modifier=reset}}
  {{#> card card--id=card-template-details--id}}
    {{#> card-title}}
      {{#> title titleType="h2" title--modifier="pf-m-xl"}}
        Recomendations by severity
      {{/title}}
    {{/card-title}}
    {{#> card-body}}
      {{#> l-flex l-flex--modifier="pf-m-inline-flex"}}
        {{#> grid grid--modifier="pf-m-gutter pf-m-all-3-col"}}
          {{#> l-flex l-flex--modifier="pf-m-column pf-m-space-items-xs pf-m-align-items-center"}}
            <span class="{{pfv 'u'}}font-size-2xl {{pfv 'u'}}primary-color-100">2</span>
            <span class="{{pfv 'u'}}font-color-200">Critical</span>
          {{/l-flex}}
          {{#> l-flex l-flex--modifier="pf-m-column pf-m-space-items-xs pf-m-align-items-center"}}
            <span class="{{pfv 'u'}}font-size-2xl {{pfv 'u'}}primary-color-100">5</span>
            <span class="{{pfv 'u'}}font-color-200">Important</span>
          {{/l-flex}}
          {{#> l-flex l-flex--modifier="pf-m-column pf-m-space-items-xs pf-m-align-items-center"}}
            <span class="{{pfv 'u'}}font-size-2xl {{pfv 'u'}}primary-color-100">7</span>
            <span class="{{pfv 'u'}}font-color-200">Moderate</span>
          {{/l-flex}}
          {{#> l-flex l-flex--modifier="pf-m-column pf-m-space-items-xs pf-m-align-items-center"}}
            <span class="{{pfv 'u'}}font-size-2xl {{pfv 'u'}}primary-color-100">12</span>
            <span class="{{pfv 'u'}}font-color-200">Low</span>
          {{/l-flex}}
        {{/grid}}
        {{/l-flex}}
    {{/card-body}}
    {{#> card-title}}
      {{#> title titleType="h2" title--modifier="pf-m-xl"}}
        Recomendations by category
      {{/title}}
    {{/card-title}}
    {{#> card-body}}
<svg style="width: 350px; height: 230px; max-width: 100%; pointer-events: all;" role="img" aria-labelledby="victory-container-1318-title" aria-describedby="victory-container-1318-desc" viewBox="0 0 350 230"><title id="victory-container-1318-title">Pie chart example</title><desc id="victory-container-1318-desc">Average number of pets</desc><g><path d="M0,-95A95,95,0,0,1,76.857,55.84L0,0Z" transform="translate(115, 115)" role="presentation" shape-rendering="auto" style="fill: var(--pf-v6-chart-theme--green--ColorScale--100, #63993d); padding: 8px; stroke: var(--pf-v6-chart-pie--data--stroke--Color, transparent); stroke-width: 1;"></path><path d="M76.857,55.84A95,95,0,1,1,-55.84,-76.857L0,0Z" transform="translate(115, 115)" role="presentation" shape-rendering="auto" style="fill: var(--pf-v6-chart-theme--green--ColorScale--200, #afdc8f); padding: 8px; stroke: var(--pf-v6-chart-pie--data--stroke--Color, transparent); stroke-width: 1;"></path><path d="M-55.84,-76.857A95,95,0,0,1,0,-95L0,0Z" transform="translate(115, 115)" role="presentation" shape-rendering="auto" style="fill: var(--pf-v6-chart-theme--green--ColorScale--300, #204d00); padding: 8px; stroke: var(--pf-v6-chart-pie--data--stroke--Color, transparent); stroke-width: 1;"></path></g><g><rect vector-effect="non-scaling-stroke" role="presentation" shape-rendering="auto" x="218" y="67.5" width="94.9046875" height="99" style="fill: none;"></rect><path d="M 227.128, 86.372
      h9.744000000000028
      v-9.744000000000028
      h-9.744000000000028
      z" role="presentation" shape-rendering="auto" style="fill: var(--pf-v6-chart-theme--green--ColorScale--100, #63993d);"></path><path d="M 227.128, 119.372
      h9.744000000000028
      v-9.744000000000028
      h-9.744000000000028
      z" role="presentation" shape-rendering="auto" style="fill: var(--pf-v6-chart-theme--green--ColorScale--200, #afdc8f);"></path><path d="M 227.128, 152.372
      h9.744000000000028
      v-9.744000000000028
      h-9.744000000000028
      z" role="presentation" shape-rendering="auto" style="fill: var(--pf-v6-chart-theme--green--ColorScale--300, #204d00);"></path><text id="chart1-ChartLegend-ChartLabel-0" direction="inherit" dx="0" x="248.8" y="86.47"><tspan x="248.8" dx="0" dy="0" text-anchor="start" style="font-family: &quot;Red Hat Text&quot;, RedHatText, &quot;Noto Sans Arabic&quot;, &quot;Noto Sans Hebrew&quot;, &quot;Noto Sans JP&quot;, &quot;Noto Sans KR&quot;, &quot;Noto Sans Malayalam&quot;, &quot;Noto Sans SC&quot;, &quot;Noto Sans TC&quot;, &quot;Noto Sans Thai&quot;, Helvetica, Arial, sans-serif; font-size: 14px; letter-spacing: normal; padding: 10px; stroke: var(--pf-v6-chart-global--label--stroke, transparent); fill: var(--pf-v6-chart-global--label--Fill, #1f1f1f);">Cats: 35</tspan></text><text id="chart1-ChartLegend-ChartLabel-1" direction="inherit" dx="0" x="248.8" y="119.47"><tspan x="248.8" dx="0" dy="0" text-anchor="start" style="font-family: &quot;Red Hat Text&quot;, RedHatText, &quot;Noto Sans Arabic&quot;, &quot;Noto Sans Hebrew&quot;, &quot;Noto Sans JP&quot;, &quot;Noto Sans KR&quot;, &quot;Noto Sans Malayalam&quot;, &quot;Noto Sans SC&quot;, &quot;Noto Sans TC&quot;, &quot;Noto Sans Thai&quot;, Helvetica, Arial, sans-serif; font-size: 14px; letter-spacing: normal; padding: 10px; stroke: var(--pf-v6-chart-global--label--stroke, transparent); fill: var(--pf-v6-chart-global--label--Fill, #1f1f1f);">Dogs: 55</tspan></text><text id="chart1-ChartLegend-ChartLabel-2" direction="inherit" dx="0" x="248.8" y="152.47"><tspan x="248.8" dx="0" dy="0" text-anchor="start" style="font-family: &quot;Red Hat Text&quot;, RedHatText, &quot;Noto Sans Arabic&quot;, &quot;Noto Sans Hebrew&quot;, &quot;Noto Sans JP&quot;, &quot;Noto Sans KR&quot;, &quot;Noto Sans Malayalam&quot;, &quot;Noto Sans SC&quot;, &quot;Noto Sans TC&quot;, &quot;Noto Sans Thai&quot;, Helvetica, Arial, sans-serif; font-size: 14px; letter-spacing: normal; padding: 10px; stroke: var(--pf-v6-chart-global--label--stroke, transparent); fill: var(--pf-v6-chart-global--label--Fill, #1f1f1f);">Birds: 10</tspan></text></g></svg>    {{/card-body}}
    {{#> card-footer}}
      <a href="#">View more</a>
    {{/card-footer}}
  {{/card}}
{{/reset}}
