<ul class="{{pfv}}select__menu{{#if select-menu--modifier}} {{select-menu--modifier}}{{/if}}"
  aria-labelledby="{{select--id}}-label"
  role="listbox"
  {{#unless select--IsExpanded}}hidden{{/unless}}
  {{#if select--attribute}}
    {{{select--attribute}}}
  {{/if}}>
  {{#unless select--IsCurrentlyTyping}}
    <li role="presentation">
      {{#> select-menu-item}}Alabama{{/select-menu-item}}
    </li>
    <li role="presentation">
      {{#> select-menu-item}}Florida{{/select-menu-item}}
    </li>
  {{/unless}}
  <li role="presentation">
    {{#> select-menu-item}}
      {{#if select--IsCurrentlyTyping}}
        <mark class="{{pfv}}select__menu-item--match">New</mark>
      {{else}}
        New
      {{/if}}
      &nbsp;Jersey
    {{/select-menu-item}}
  </li>
  {{#unless select--IsMultiSelect}}
    <li role="presentation">
      {{#> select-menu-item select-menu-item--IsSelected="true"}}
        {{#if select--IsCurrentlyTyping}}
          <mark class="{{pfv}}select__menu-item--match">New</mark>
        {{else}}
          New
        {{/if}}
      &nbsp;Mexico
      {{/select-menu-item}}
    </li>
  {{/unless}}
  <li role="presentation">
    {{#> select-menu-item}}
      {{#if select--IsCurrentlyTyping}}
        <mark class="{{pfv}}select__menu-item--match">New</mark>
      {{else}}
        New
      {{/if}}
      &nbsp;York
    {{/select-menu-item}}
  </li>
  {{#unless select--IsCurrentlyTyping}}
    <li role="presentation">
      {{#> select-menu-item}}North Carolina{{/select-menu-item}}
    </li>
  {{/unless}}
</ul>
