<div class="pf-c-select__menu{{#if select-menu--modifier}} {{select-menu--modifier}}{{/if}}"
  aria-labelledby="{{id}}-label"
  {{#unless select--IsExpanded}}hidden{{/unless}}
  {{#if select--attribute}}
    {{{select--attribute}}}
  {{/if}}>
  {{#> select-menu-search}}
    {{> select-menu-search-input}}
  {{/select-menu-search}}
  {{> divider}}
  {{#> select-menu-group}}
    {{#> select-menu-group-title select-menu-group-title--attribute=(concat 'id="' id '-group-title-1"')}}
      Basic
    {{/select-menu-group-title}}
    <ul role="listbox" aria-labelledby="{{id}}-group-title-1">
      <li role="presentation">
        {{#> select-menu-item}}
          {{#> select-menu-item-row}}
            {{#> select-menu-item-text}}
              Item 1
            {{/select-menu-item-text}}
            {{#> select-menu-item-count}}
              3
            {{/select-menu-item-count}}
          {{/select-menu-item-row}}
        {{/select-menu-item}}
      </li>
      <li role="presentation">
        {{#> select-menu-item select-menu-item--IsSelected="true"}}
          {{#> select-menu-item-row}}
            {{#> select-menu-item-text}}
              Item 2 selected
            {{/select-menu-item-text}}
            {{#> select-menu-item-count}}
              1
            {{/select-menu-item-count}}
          {{/select-menu-item-row}}
        {{/select-menu-item}}
      </li>
      <li role="presentation">
        {{#> select-menu-item select-menu-item--IsDisabled="true"}}
          {{#> select-menu-item-row}}
            {{#> select-menu-item-text}}
              Item 3 disabled
            {{/select-menu-item-text}}
            {{#> select-menu-item-count}}
              5
            {{/select-menu-item-count}}
          {{/select-menu-item-row}}
        {{/select-menu-item}}
      </li>
      <li role="presentation">
        {{#> select-menu-item select-menu-item--Description="This is a description."}}
          {{#> select-menu-item-row}}
            {{#> select-menu-item-text}}
              Item 4 description
            {{/select-menu-item-text}}
            {{#> select-menu-item-count}}
              2
            {{/select-menu-item-count}}
          {{/select-menu-item-row}}
        {{/select-menu-item}}
      </li>
      <li role="presentation">
        {{#> select-menu-item select-menu-item--IsSelected="true" select-menu-item--Description="This is a description."}}
          {{#> select-menu-item-row}}
            {{#> select-menu-item-text}}
              Item 5 description selected
            {{/select-menu-item-text}}
            {{#> select-menu-item-count}}
              4
            {{/select-menu-item-count}}
          {{/select-menu-item-row}}
        {{/select-menu-item}}
      </li>
    </ul>
  {{/select-menu-group}}
  {{> divider}}
  {{#> select-menu-group}}
    {{#> select-menu-group-title select-menu-group-title--attribute=(concat 'id="' id '-group-title-2"')}}
      Favorites
    {{/select-menu-group-title}}
    <ul role="listbox" aria-labelledby="{{id}}-group-title-2">
      {{#> select-menu-wrapper select-menu-wrapper--IsFavorite="true"}}
        {{#> select-menu-item select-menu-item--Description="This is a description." select-menu-item--IsLink="true"}}
          {{#> select-menu-item-row}}
            {{#> select-menu-item-text}}
              Item 1
            {{/select-menu-item-text}}
            {{#> select-menu-item-count}}
              3
            {{/select-menu-item-count}}
          {{/select-menu-item-row}}
        {{/select-menu-item}}
        {{#> select-menu-item select-menu-item--IsAction="true" select-menu-item--IsFavoriteAction="true"}}
          {{> select-menu-item-favorite-icon}}
        {{/select-menu-item}}
      {{/select-menu-wrapper}}
      {{#> select-menu-wrapper}}
        {{#> select-menu-item select-menu-item--IsLink="true" select-menu-item--IsSelected="true"}}
          {{#> select-menu-item-row}}
            {{#> select-menu-item-text}}
              Item 2
            {{/select-menu-item-text}}
            {{#> select-menu-item-count}}
              2
            {{/select-menu-item-count}}
          {{/select-menu-item-row}}
        {{/select-menu-item}}
        {{#> select-menu-item select-menu-item--IsAction="true" select-menu-item--IsFavoriteAction="true"}}
          {{> select-menu-item-favorite-icon}}
        {{/select-menu-item}}
      {{/select-menu-wrapper}}
      {{#> select-menu-wrapper select-menu-item--IsDisabled="true"}}
        {{#> select-menu-item select-menu-item--IsLink="true"}}
          {{#> select-menu-item-row}}
            {{#> select-menu-item-text}}
              Item 3 disabled
            {{/select-menu-item-text}}
            {{#> select-menu-item-count}}
              3
            {{/select-menu-item-count}}
          {{/select-menu-item-row}}
        {{/select-menu-item}}
        {{#> select-menu-item select-menu-item--IsAction="true" select-menu-item--IsFavoriteAction="true"}}
          {{> select-menu-item-favorite-icon}}
        {{/select-menu-item}}
      {{/select-menu-wrapper}}
    </ul>
  {{/select-menu-group}}
  {{> divider}}
  {{#> select-menu-group}}
    {{#> select-menu-group-title select-menu-group-title--attribute=(concat 'id="' id '-group-title-3"')}}
      Checkbox
    {{/select-menu-group-title}}
    {{#> select-menu-fieldset select-menu-fieldset--attribute=(concat 'aria-labelledby="' id '-group-title-3"')}}
      {{#> select-menu-item-check select-menu-item-check--name="item-1"}}
        {{#> select-menu-item-row}}
          {{#> select-menu-item-text}}
            Item 1
          {{/select-menu-item-text}}
          {{#> select-menu-item-count}}
            7
          {{/select-menu-item-count}}
        {{/select-menu-item-row}}
      {{/select-menu-item-check}}
      {{#> select-menu-item-check select-menu-item-check--name="item-2-checked" select-menu-item-check--description="This is a really long description that describes the menu item. This is a really long description that describes the menu item." select-menu-item-check--modifier=" pf-m-description" select-menu-item-check--IsChecked="checked"}}
        {{#> select-menu-item-row}}
          {{#> select-menu-item-text}}
            Item 2 checked
          {{/select-menu-item-text}}
          {{#> select-menu-item-count}}
            2
          {{/select-menu-item-count}}
        {{/select-menu-item-row}}
      {{/select-menu-item-check}}
    {{/select-menu-fieldset}}
  {{/select-menu-group}}
</div>
