<div class="{{pfv}}select
  {{~#if select--IsExpanded}} pf-m-expanded{{/if}}
  {{~#if select--IsSuccess}} pf-m-success{{/if}}
  {{~#if select--IsWarning}} pf-m-warning{{/if}}
  {{~#if select--IsInvalid}} pf-m-invalid{{/if}}
  {{~#if select--modifier}} {{select--modifier}}{{/if}}"
  {{#if select--width}}
    style="width: {{select--width}}"
  {{/if}}
  {{#if select--attribute}}
    {{{select--attribute}}}
  {{/if}}>
  {{!-- hidden spans for a11y --}}
  {{#unless select--HasCustomLabel}}
    {{#if select--IsMultiSelect}}
      <span id="{{select--id}}-label" hidden>{{#if select-typeahead--Placeholder}} {{select-typeahead--Placeholder}}{{else}}Choose many{{/if}}</span>
    {{else}}
      <span id="{{select--id}}-label" hidden>{{#if select-typeahead--Placeholder}} {{select-typeahead--Placeholder}}{{else}}Choose one{{/if}}</span>
    {{/if}}
  {{/unless}}

  {{#if select--IsCustom}}
    {{>@partial-block}}
  {{else}}

    {{!-- create the toggle and all its components --}}
    {{> select-toggle}}

    {{!-- create the dropdown menu part --}}
    {{#if select--IsTypeahead}}
      {{> __select-typeahead}}
    {{else if select--IsCheckboxSelect}}
      {{#if select--HasGroups}}
        {{#if select--IsChecked}}
          {{> __select-checkbox-groups-checked}}
        {{else}}
          {{> __select-checkbox-groups}}
        {{/if}}
      {{else if select--HasCounts}}
        {{> __select-checkbox-counts}}
      {{else}}
        {{#if select--IsChecked}}
          {{> __select-checkbox-checked}}
        {{else}}
          {{> __select-checkbox}}
        {{/if}}
      {{/if}}
    {{else if select--IsDescriptive}}
      {{> __select-menu-descriptive}}
    {{else if select--IsFavorites}}
      {{> __select-menu-favorites}}
    {{else if select--HasFooter}}
      {{> __select-menu-footer}}
    {{else}}
      {{> __select-single}}
    {{/if}}
  {{/if}}
</div>
