<div class="pf-c-select{{#if select--IsExpanded}} pf-m-expanded{{/if}}{{#if select--modifier}} {{select--modifier}}{{/if}}"
  {{#if select--attribute}}
    {{{select--attribute}}}
  {{/if}}>
  {{#if select--IsMultiSelect}}
    <span id="{{id}}-label" hidden>{{#if select---typeahead--Placeholder}} {{select---typeahead--Placeholder}}{{else}}Choose many{{/if}}</span>
  {{else}}
    <span id="{{id}}-label" hidden>{{#if select---typeahead--Placeholder}} {{select---typeahead--Placeholder}}{{else}}Choose one{{/if}}</span>
  {{/if}}
      
  {{> select-toggle}}

  {{#if select--IsMultiSelect}}
    {{> select-multi}}
  {{else}}
    {{> select-single}}
  {{/if}}

</div>