<div class="pf-c-select__toggle{{#if select-toggle--modifier}} {{select-toggle--modifier}}{{/if}} {{#if select--IsTypeahead}}pf-m-typeahead{{/if}}"
  id="{{id}}" 
  aria-haspopup="true" 
  aria-expanded="{{#if select--IsExpanded}}true{{else}}false{{/if}}"
	{{#if aria-label}}
		aria-label="{{aria-label}}" 
	{{/if}}
	{{#if select-toggle--attribute}}
		{{{select-toggle--attribute}}}
	{{/if}}>
	<div class="pf-c-select-toggle__wrapper">	
		{{#if select--IsMultiSelect}}
				{{#if select--ItemIsSelected}}
					{{> select-chip-group-collapsed}}
				{{/if}}
				{{#if select--IsTypeahead}}
					{{#if select-typeahead--Placeholder}}
						{{> select-toggle-typeahead }}
					{{else}}
						{{!-- default placeholder text --}}
						{{> select-toggle-typeahead select-typeahead--Placeholder="Type to filter" }}
					{{/if}}
				{{/if}}
		{{else if select--IsCheckboxSelect}}
			{{!-- TODO --}}
				{{#if select--ItemIsSelected}} 
					{{#> badge badge--modifier="pf-m-unread"}}
						7
					{{/badge}}
				{{/if}}
		{{else}}
			{{!-- single select --}}
			{{#if select--IsTypeahead}}
				{{#if select-typeahead--Placeholder}}
					{{> select-toggle-typeahead }}
				{{else}}
					{{!-- default placeholder text --}}
					{{> select-toggle-typeahead select-typeahead--Placeholder="Type to select" }}
				{{/if}}
			{{else if partial-block}}
				{{> @partial-block}}
			{{else}}
				Select
			{{/if}}
		{{/if}}
	</div>
	{{> select-toggle-icon}}
</div>
