<div class="pf-c-select{{#if select--IsExpanded}} pf-m-expanded{{/if}}{{#if select--modifier}} {{select--modifier}}{{/if}}"
  {{#if select--attribute}}
    {{{select--attribute}}}
  {{/if}}>
  {{#if select--IsSelect}}
    <span id="{{id}}-label" hidden>Select a fruit</span>
  {{else if select--IsMultiSelect}}
    <span id="{{id}}-label" hidden>Select one or more fruits</span>
  {{/if}}
  <button id="{{id}}-button"
    class="pf-c-select__toggle"
    {{#if select--IsSelect}}
      aria-labelledby="{{id}}-label {{id}}-button"
    {{else if select--IsMultiSelect}}
        aria-labelledby="{{id}}-label {{id}}-button"
    {{/if}}
    aria-expanded="{{#if select--IsExpanded}}true{{else}}false{{/if}}"
    {{#if aria-label}} aria-label="{{aria-label}}" {{/if}}>
    {{> @partial-block}}
    {{> select-toggle-icon}}
  </button>
  {{#if select--IsSelect}}
    {{> select-single}}
  {{else if select--IsMultiSelect}}
    {{> select-multi}}
  {{else}}
    {{> select-single}}
  {{/if}}

  {{> @partial-block}}
</div>