<{{#if select-menu--type}}{{select-menu--type}}{{else}}ul{{/if}} class="pf-c-select__menu{{#if select-menu--modifier}} {{select-menu--modifier}}{{/if}}"
  {{#unless select-menu--type}}
    role="listbox"
  {{/unless}}
  aria-labelledby="{{id}}-label"
  {{#unless select--IsExpanded}}hidden{{/unless}}
  {{#if select-menu--attribute}}
    {{{select-menu--attribute}}}
  {{/if}}>

  {{#if @partial-block}}
    {{{@partial-block}}}
  {{else}}
    {{#if select-menu--IsEmptyMenu}}
      [Panel contents here]
    {{else}}
      <li role="presentation">
        {{#> select-menu-item}}Running{{/select-menu-item}}
      </li>
      <li role="presentation">
        {{#> select-menu-item select-menu-item--IsSelected="true"}}Stopped{{/select-menu-item}}
      </li>
      <li role="presentation">
        {{#> select-menu-item}}Down{{/select-menu-item}}
      </li>
      <li role="presentation">
        {{#> select-menu-item}}Degraded{{/select-menu-item}}
      </li>
      <li role="presentation">
        {{#> select-menu-item}}Needs maintenance{{/select-menu-item}}
      </li>
      {{#if select--IsLoad}}
        <li role="presentation">
          {{#> select-menu-item select-menu-item--modifier="pf-m-load"}}View more{{/select-menu-item}}
        </li>
      {{/if}}
      {{#if select--IsLoading}}
        <li role="presentation" class="pf-c-select__list-item pf-m-loading">
          {{#> spinner spinner--modifier="pf-m-lg"}}Loading items{{/spinner}}
        </li>
      {{/if}}
    {{/if}}
  {{/if}}
</{{#if select-menu--type}}{{select-menu--type}}{{else}}ul{{/if}}>
