Example with Image and Actions in Card Head
{{#> card}}
  {{#> card-head}}
    {{#> card-actions}}
      <input type="checkbox" id="{{card--id}}-check" name="{{card--id}}-check" aria-labelledby="{{card--id}}-check-label">
      {{#> dropdown id=(concat card--id "-dropdown-kebab-right-aligned") dropdown--IsActionMenu="true" dropdown-toggle--modifier="pf-m-plain" dropdown--HasKebabIcon="true" aria-label="Actions"}}
      {{/dropdown}}
    {{/card-actions}}
    <span>img goes here</span>
  {{/card-head}}
  {{#> card-header}}
    Header
  {{/card-header}}
  {{#> card-body}}
    Body
  {{/card-body}}
  {{#> card-footer}}
    Footer
  {{/card-footer}}
{{/card}}
<br>
<br>
Example with Card Header in Card Head
{{#> card}}
  {{#> card-head}}
    {{#> card-actions}}
      <input type="checkbox" id="{{card--id}}-check" name="{{card--id}}-check" aria-labelledby="{{card--id}}-check-label">
      {{#> dropdown id=(concat card--id "-dropdown-kebab-right-aligned") dropdown--IsActionMenu="true" dropdown-toggle--modifier="pf-m-plain" dropdown--HasKebabIcon="true" aria-label="Actions"}}
      {{/dropdown}}
    {{/card-actions}}
    {{#> card-header}}
      This is a really really really really really really really really really really long header
    {{/card-header}}
  {{/card-head}}
  {{#> card-body}}
    Body
  {{/card-body}}
  {{#> card-footer}}
    Footer
  {{/card-footer}}
{{/card}}
<br>
<br>
Example with only Actions in Card Head (no header/footer)
{{#> card}}
  {{#> card-head}}
    {{#> card-actions}}
      <input type="checkbox" id="{{card--id}}-check" name="{{card--id}}-check" aria-labelledby="{{card--id}}-check-label">
      {{#> dropdown id=(concat card--id "-dropdown-kebab-right-aligned") dropdown--IsActionMenu="true" dropdown-toggle--modifier="pf-m-plain" dropdown--HasKebabIcon="true" aria-label="Actions"}}
      {{/dropdown}}
    {{/card-actions}}
  {{/card-head}}
  {{#> card-body}}
    This is the card body, there is only actions in the card head.
  {{/card-body}}
{{/card}}
<br>
<br>
Example with only Card Body and Actions in the Card Head
{{#> card}}
  {{#> card-head}}
    {{#> card-actions}}
      <input type="checkbox" id="{{card--id}}-check" name="{{card--id}}-check" aria-labelledby="{{card--id}}-check-label">
      {{#> dropdown id=(concat card--id "-dropdown-kebab-right-aligned") dropdown--IsActionMenu="true" dropdown-toggle--modifier="pf-m-plain" dropdown--HasKebabIcon="true" aria-label="Actions"}}
      {{/dropdown}}
    {{/card-actions}}
    {{#> card-body}}
      This is the card body, there is only actions in the card head.
      This is the card body, there is only actions in the card head.
      This is the card body, there is only actions in the card head.
      This is the card body, there is only actions in the card head.
      This is the card body, there is only actions in the card head.
      This is the card body, there is only actions in the card head.
      This is the card body, there is only actions in the card head.
      This is the card body, there is only actions in the card head.
    {{/card-body}}
  {{/card-head}}
{{/card}}
<br>
<br>
Example with only Image in the Card Head
{{#> card}}
  {{#> card-head}}
    <span>img goes here</span>
  {{/card-head}}
  {{#> card-header}}
    Header
  {{/card-header}}
  {{#> card-body}}
    Body
  {{/card-body}}
  {{#> card-footer}}
    Footer
  {{/card-footer}}
{{/card}}


