<th class="{{pfv}}calendar-month__day{{#if calendar-month-day--modifier}} {{calendar-month-day--modifier}}{{/if}}"
  {{#if calendar-month-day--attribute}}
    {{{calendar-month-day--attribute}}}
  {{/if}}>
  <span class="pf-screen-reader">{{calendar-month-day--day}}</span>
  <span aria-hidden="true">{{calendar-month-day--label}}</span>
</th>
