<button class="{{pfv}}calendar-month__date{{#if calendar-month-date--modifier}} {{calendar-month-date--modifier}}{{/if}}"
  type="button"
  aria-label="{{calendar-month-date--date}} {{calendar-month--month}} {{calendar-month--year}}"
  {{#if calendar-month-dates-cell--IsDisabled}}
    disabled
  {{/if}}
  {{#if calendar-month-date--attribute}}
    {{{calendar-month-date--attribute}}}
  {{/if}}>
  {{calendar-month-date--date}}
</button>
