{{#> table table--id=(concat page--id '-table') table--grid="true" table--modifier=(concat 'pf-m-grid-md ' table-simple-table--modifier) table--attribute='aria-label="This is a table with checkboxes"'}}
  {{#> table-thead}}
    {{#> table-tr}}
      {{#> table-td table-td--check="true"}}
        <input type="checkbox" name="check-all" aria-label="Select all rows">
      {{/table-td}}
      {{#> table-th table-th--attribute='scope="col"'}}
        Repositories
      {{/table-th}}
      {{#> table-th table-th--attribute='scope="col"'}}
        Branches
      {{/table-th}}
      {{#> table-th table-th--attribute='scope="col"'}}
        Pull requests
      {{/table-th}}
      {{#> table-th table-th--attribute='scope="col"'}}
        Workspaces
      {{/table-th}}
      {{#> table-th table-th--attribute='scope="col"'}}
        Last commit
      {{/table-th}}
      {{> table-td table-td--IsEmpty="true"}}
    {{/table-tr}}
  {{/table-thead}}

  {{#> table-tbody}}
    {{#> table-tr}}
      {{#> table-td table-td--check="true"}}
        <input type="checkbox" name="checkrow1" aria-labelledby="{{table--id}}-node1">
      {{/table-td}}
      {{#> table-th table-th--data-label="Repository name"}}
        <div>
          <div id="{{table--id}}-node1">Node 1</div>
          <a href="#">siemur/test-space</a>
        </div>
      {{/table-th}}
      {{#> table-td table-td--data-label="Branches"}}
        {{#> l-flex l-flex--modifier="pf-m-space-items-sm pf-m-nowrap"}}
          {{#> l-flex-item}}
            10
          {{/l-flex-item}}
          {{#> l-flex-item}}
            <i class="fas fa-code-branch"></i>
          {{/l-flex-item}}
        {{/l-flex}}
      {{/table-td}}
      {{#> table-td table-td--data-label="Pull requests"}}
        {{#> l-flex l-flex--modifier="pf-m-space-items-sm pf-m-nowrap"}}
          {{#> l-flex-item}}
            25
          {{/l-flex-item}}
          {{#> l-flex-item}}
            <i class="fas fa-code"></i>
          {{/l-flex-item}}
        {{/l-flex}}
      {{/table-td}}
      {{#> table-td table-td--data-label="Workspaces"}}
        {{#> l-flex l-flex--modifier="pf-m-space-items-sm pf-m-nowrap"}}
          {{#> l-flex-item}}
            5
          {{/l-flex-item}}
          {{#> l-flex-item}}
            <i class="fas fa-cube"></i>
          {{/l-flex-item}}
        {{/l-flex}}
      {{/table-td}}
      {{#> table-td table-td--data-label="Last commit"}}
        2 days ago
      {{/table-td}}
      {{#> table-td table-td--action="true"}}
        {{> tabs--table-overflow-menu tabs--table-overflow-menu--id=(concat table--id "-dropdown-kebab-1") dropdown--IsExpanded="true"}}
      {{/table-td}}
    {{/table-tr}}

    {{#> table-tr table-tr--modifier="pf-m-selected"}}
      {{#> table-td table-td--check="true"}}
        <input type="checkbox" name="checkrow2" aria-labelledby="{{table--id}}-node2">
      {{/table-td}}
      {{#> table-th table-th--data-label="Repository name"}}
        <div>
          <div id="{{table--id}}-node2">Node 2</div>
          <a href="#">siemur/test-space</a>
        </div>
      {{/table-th}}
      {{#> table-td table-td--data-label="Branches"}}
        {{#> l-flex l-flex--modifier="pf-m-space-items-sm pf-m-nowrap"}}
          {{#> l-flex-item}}
            8
          {{/l-flex-item}}
          {{#> l-flex-item}}
            <i class="fas fa-code-branch"></i>
          {{/l-flex-item}}
        {{/l-flex}}
      {{/table-td}}
      {{#> table-td table-td--data-label="Pull requests"}}
        {{#> l-flex l-flex--modifier="pf-m-space-items-sm pf-m-nowrap"}}
          {{#> l-flex-item}}
            30
          {{/l-flex-item}}
          {{#> l-flex-item}}
            <i class="fas fa-code"></i>
          {{/l-flex-item}}
        {{/l-flex}}
      {{/table-td}}
      {{#> table-td table-td--data-label="Workspaces"}}
        {{#> l-flex l-flex--modifier="pf-m-space-items-sm pf-m-nowrap"}}
          {{#> l-flex-item}}
            2
          {{/l-flex-item}}
          {{#> l-flex-item}}
            <i class="fas fa-cube"></i>
          {{/l-flex-item}}
        {{/l-flex}}
      {{/table-td}}
      {{#> table-td table-td--data-label="Last commit"}}
        2 days ago
      {{/table-td}}
      {{#> table-td table-td--action="true"}}
        {{> tabs--table-overflow-menu tabs--table-overflow-menu--id=(concat table--id "-dropdown-kebab-2")}}
      {{/table-td}}
    {{/table-tr}}

    {{#> table-tr}}
      {{#> table-td table-td--check="true"}}
        <input type="checkbox" name="checkrow3" aria-labelledby="{{table--id}}-node3">
      {{/table-td}}
      {{#> table-th table-th--data-label="Repository name"}}
        <div>
          <div id="{{table--id}}-node3">Node 3</div>
          <a href="#">siemur/test-space</a>
        </div>
      {{/table-th}}
      {{#> table-td table-td--data-label="Branches"}}
        {{#> l-flex l-flex--modifier="pf-m-space-items-sm pf-m-nowrap"}}
          {{#> l-flex-item}}
            12
          {{/l-flex-item}}
          {{#> l-flex-item}}
            <i class="fas fa-code-branch"></i>
          {{/l-flex-item}}
        {{/l-flex}}
      {{/table-td}}
      {{#> table-td table-td--data-label="Pull requests"}}
        {{#> l-flex l-flex--modifier="pf-m-space-items-sm pf-m-nowrap"}}
          {{#> l-flex-item}}
            48
          {{/l-flex-item}}
          {{#> l-flex-item}}
            <i class="fas fa-code"></i>
          {{/l-flex-item}}
        {{/l-flex}}
      {{/table-td}}
      {{#> table-td table-td--data-label="Workspaces"}}
        {{#> l-flex l-flex--modifier="pf-m-space-items-sm pf-m-nowrap"}}
          {{#> l-flex-item}}
            13
          {{/l-flex-item}}
          {{#> l-flex-item}}
            <i class="fas fa-cube"></i>
          {{/l-flex-item}}
        {{/l-flex}}
      {{/table-td}}
      {{#> table-td table-td--data-label="Last commit"}}
        30 days ago
      {{/table-td}}
      {{#> table-td table-td--action="true"}}
        {{> tabs--table-overflow-menu tabs--table-overflow-menu--id=(concat table--id "-dropdown-kebab-3")}}
      {{/table-td}}
    {{/table-tr}}

    {{#> table-tr}}
      {{#> table-td table-td--check="true"}}
        <input type="checkbox" name="checkrow4" aria-labelledby="{{table--id}}-node4">
      {{/table-td}}
      {{#> table-th table-th--data-label="Repository name"}}
        <div>
          <div id="{{table--id}}-node4">Node 4</div>
          <a href="#">siemur/test-space</a>
        </div>
      {{/table-th}}
      {{#> table-td table-td--data-label="Branches"}}
        {{#> l-flex l-flex--modifier="pf-m-space-items-sm pf-m-nowrap"}}
          {{#> l-flex-item}}
            3
          {{/l-flex-item}}
          {{#> l-flex-item}}
            <i class="fas fa-code-branch"></i>
          {{/l-flex-item}}
        {{/l-flex}}
      {{/table-td}}
      {{#> table-td table-td--data-label="Pull requests"}}
        {{#> l-flex l-flex--modifier="pf-m-space-items-sm pf-m-nowrap"}}
          {{#> l-flex-item}}
            8
          {{/l-flex-item}}
          {{#> l-flex-item}}
            <i class="fas fa-code"></i>
          {{/l-flex-item}}
        {{/l-flex}}
      {{/table-td}}
      {{#> table-td table-td--data-label="Workspaces"}}
        {{#> l-flex l-flex--modifier="pf-m-space-items-sm pf-m-nowrap"}}
          {{#> l-flex-item}}
            20
          {{/l-flex-item}}
          {{#> l-flex-item}}
            <i class="fas fa-cube"></i>
          {{/l-flex-item}}
        {{/l-flex}}
      {{/table-td}}
      {{#> table-td table-td--data-label="Last commit"}}
        8 days ago
      {{/table-td}}
      {{#> table-td table-td--action="true"}}
        {{> tabs--table-overflow-menu tabs--table-overflow-menu--id=(concat table--id "-dropdown-kebab-4")}}
      {{/table-td}}
    {{/table-tr}}

    {{#> table-tr}}
      {{#> table-td table-td--check="true"}}
        <input type="checkbox" name="checkrow5" aria-labelledby="{{table--id}}-node5">
      {{/table-td}}
      {{#> table-td table-td--data-label="Repository name"}}
        <div>
          <div id="{{table--id}}-node5">Node 5</div>
          <a href="#">siemur/test-space</a>
        </div>
      {{/table-td}}
      {{#> table-td table-td--data-label="Branches"}}
        {{#> l-flex l-flex--modifier="pf-m-space-items-sm pf-m-nowrap"}}
          {{#> l-flex-item}}
            34
          {{/l-flex-item}}
          {{#> l-flex-item}}
            <i class="fas fa-code-branch"></i>
          {{/l-flex-item}}
        {{/l-flex}}
      {{/table-td}}
      {{#> table-td table-td--data-label="Pull requests"}}
        {{#> l-flex l-flex--modifier="pf-m-space-items-sm pf-m-nowrap"}}
          {{#> l-flex-item}}
            21
          {{/l-flex-item}}
          {{#> l-flex-item}}
            <i class="fas fa-code"></i>
          {{/l-flex-item}}
        {{/l-flex}}
      {{/table-td}}
      {{#> table-td table-td--data-label="Workspaces"}}
        {{#> l-flex l-flex--modifier="pf-m-space-items-sm pf-m-nowrap"}}
          {{#> l-flex-item}}
            26
          {{/l-flex-item}}
          {{#> l-flex-item}}
            <i class="fas fa-cube"></i>
          {{/l-flex-item}}
        {{/l-flex}}
      {{/table-td}}
      {{#> table-td table-td--data-label="Last commit"}}
        2 days ago
      {{/table-td}}
      {{#> table-td table-td--action="true"}}
        {{> tabs--table-overflow-menu tabs--table-overflow-menu--id=(concat table--id "-dropdown-kebab-5")}}
      {{/table-td}}
    {{/table-tr}}

    {{#> table-tr}}
      {{#> table-td table-td--check="true"}}
        <input type="checkbox" name="checkrow6" aria-labelledby="{{table--id}}-node6">
      {{/table-td}}
      {{#> table-th table-th--data-label="Repository name"}}
        <div>
          <div id="{{table--id}}-node6">Node 6</div>
          <a href="#">siemur/test-space</a>
        </div>
      {{/table-th}}
      {{#> table-td table-td--data-label="Branches"}}
        {{#> l-flex l-flex--modifier="pf-m-space-items-sm pf-m-nowrap"}}
          {{#> l-flex-item}}
            34
          {{/l-flex-item}}
          {{#> l-flex-item}}
            <i class="fas fa-code-branch"></i>
          {{/l-flex-item}}
        {{/l-flex}}
      {{/table-td}}
      {{#> table-td table-td--data-label="Pull requests"}}
        {{#> l-flex l-flex--modifier="pf-m-space-items-sm pf-m-nowrap"}}
          {{#> l-flex-item}}
            21
          {{/l-flex-item}}
          {{#> l-flex-item}}
            <i class="fas fa-code"></i>
          {{/l-flex-item}}
        {{/l-flex}}
      {{/table-td}}
      {{#> table-td table-td--data-label="Workspaces"}}
        {{#> l-flex l-flex--modifier="pf-m-space-items-sm pf-m-nowrap"}}
          {{#> l-flex-item}}
            26
          {{/l-flex-item}}
          {{#> l-flex-item}}
            <i class="fas fa-cube"></i>
          {{/l-flex-item}}
        {{/l-flex}}
      {{/table-td}}
      {{#> table-td table-td--data-label="Last commit"}}
        2 days ago
      {{/table-td}}
      {{#> table-td table-td--action="true"}}
        {{> tabs--table-overflow-menu tabs--table-overflow-menu--id=(concat table--id "-dropdown-kebab-6")}}
      {{/table-td}}
    {{/table-tr}}

    {{#> table-tr}}
      {{#> table-td table-td--check="true"}}
        <input type="checkbox" name="checkrow7" aria-labelledby="{{table--id}}-node7">
      {{/table-td}}
      {{#> table-th table-th--data-label="Repository name"}}
        <div>
          <div id="{{table--id}}-node7">Node 7</div>
          <a href="#">siemur/test-space</a>
        </div>
      {{/table-th}}
      {{#> table-td table-td--data-label="Branches"}}
        {{#> l-flex l-flex--modifier="pf-m-space-items-sm pf-m-nowrap"}}
          {{#> l-flex-item}}
            34
          {{/l-flex-item}}
          {{#> l-flex-item}}
            <i class="fas fa-code-branch"></i>
          {{/l-flex-item}}
        {{/l-flex}}
      {{/table-td}}
      {{#> table-td table-td--data-label="Pull requests"}}
        {{#> l-flex l-flex--modifier="pf-m-space-items-sm pf-m-nowrap"}}
          {{#> l-flex-item}}
            21
          {{/l-flex-item}}
          {{#> l-flex-item}}
            <i class="fas fa-code"></i>
          {{/l-flex-item}}
        {{/l-flex}}
      {{/table-td}}
      {{#> table-td table-td--data-label="Workspaces"}}
        {{#> l-flex l-flex--modifier="pf-m-space-items-sm pf-m-nowrap"}}
          {{#> l-flex-item}}
            26
          {{/l-flex-item}}
          {{#> l-flex-item}}
            <i class="fas fa-cube"></i>
          {{/l-flex-item}}
        {{/l-flex}}
      {{/table-td}}
      {{#> table-td table-td--data-label="Last commit"}}
        2 days ago
      {{/table-td}}
      {{#> table-td table-td--action="true"}}
        {{> tabs--table-overflow-menu tabs--table-overflow-menu--id=(concat table--id "-dropdown-kebab-7")}}
      {{/table-td}}
    {{/table-tr}}

    {{#> table-tr}}
      {{#> table-td table-td--check="true"}}
        <input type="checkbox" name="checkrow8" aria-labelledby="{{table--id}}-node8">
      {{/table-td}}
      {{#> table-th table-th--data-label="Repository name"}}
        <div>
          <div id="{{table--id}}-node8">Node 8</div>
          <a href="#">siemur/test-space</a>
        </div>
      {{/table-th}}
      {{#> table-td table-td--data-label="Branches"}}
        {{#> l-flex l-flex--modifier="pf-m-space-items-sm pf-m-nowrap"}}
          {{#> l-flex-item}}
            34
          {{/l-flex-item}}
          {{#> l-flex-item}}
            <i class="fas fa-code-branch"></i>
          {{/l-flex-item}}
        {{/l-flex}}
      {{/table-td}}
      {{#> table-td table-td--data-label="Pull requests"}}
        {{#> l-flex l-flex--modifier="pf-m-space-items-sm pf-m-nowrap"}}
          {{#> l-flex-item}}
            21
          {{/l-flex-item}}
          {{#> l-flex-item}}
            <i class="fas fa-code"></i>
          {{/l-flex-item}}
        {{/l-flex}}
      {{/table-td}}
      {{#> table-td table-td--data-label="Workspaces"}}
        {{#> l-flex l-flex--modifier="pf-m-space-items-sm pf-m-nowrap"}}
          {{#> l-flex-item}}
            26
          {{/l-flex-item}}
          {{#> l-flex-item}}
            <i class="fas fa-cube"></i>
          {{/l-flex-item}}
        {{/l-flex}}
      {{/table-td}}
      {{#> table-td table-td--data-label="Last commit"}}
        2 days ago
      {{/table-td}}
      {{#> table-td table-td--action="true"}}
        {{> tabs--table-overflow-menu tabs--table-overflow-menu--id=(concat table--id "-dropdown-kebab-8")}}
      {{/table-td}}
    {{/table-tr}}

    {{#> table-tr}}
      {{#> table-td table-td--check="true"}}
        <input type="checkbox" name="checkrow9" aria-labelledby="{{table--id}}-node9">
      {{/table-td}}
      {{#> table-th table-th--data-label="Repository name"}}
        <div>
          <div id="{{table--id}}-node9">Node 9</div>
          <a href="#">siemur/test-space</a>
        </div>
      {{/table-th}}
      {{#> table-td table-td--data-label="Branches"}}
        {{#> l-flex l-flex--modifier="pf-m-space-items-sm pf-m-nowrap"}}
          {{#> l-flex-item}}
            34
          {{/l-flex-item}}
          {{#> l-flex-item}}
            <i class="fas fa-code-branch"></i>
          {{/l-flex-item}}
        {{/l-flex}}
      {{/table-td}}
      {{#> table-td table-td--data-label="Pull requests"}}
        {{#> l-flex l-flex--modifier="pf-m-space-items-sm pf-m-nowrap"}}
          {{#> l-flex-item}}
            21
          {{/l-flex-item}}
          {{#> l-flex-item}}
            <i class="fas fa-code"></i>
          {{/l-flex-item}}
        {{/l-flex}}
      {{/table-td}}
      {{#> table-td table-td--data-label="Workspaces"}}
        {{#> l-flex l-flex--modifier="pf-m-space-items-sm pf-m-nowrap"}}
          {{#> l-flex-item}}
            26
          {{/l-flex-item}}
          {{#> l-flex-item}}
            <i class="fas fa-cube"></i>
          {{/l-flex-item}}
        {{/l-flex}}
      {{/table-td}}
      {{#> table-td table-td--data-label="Last commit"}}
        2 days ago
      {{/table-td}}
      {{#> table-td table-td--action="true"}}
        {{> tabs--table-overflow-menu tabs--table-overflow-menu--id=(concat table--id "-dropdown-kebab-9")}}
      {{/table-td}}
    {{/table-tr}}

    {{#> table-tr}}
      {{#> table-td table-td--check="true"}}
        <input type="checkbox" name="checkrow10" aria-labelledby="{{table--id}}-node10">
      {{/table-td}}
      {{#> table-th table-th--data-label="Repository name"}}
        <div>
          <div id="{{table--id}}-node10">Node 10</div>
          <a href="#">siemur/test-space</a>
        </div>
      {{/table-th}}
      {{#> table-td table-td--data-label="Branches"}}
        {{#> l-flex l-flex--modifier="pf-m-space-items-sm pf-m-nowrap"}}
          {{#> l-flex-item}}
            34
          {{/l-flex-item}}
          {{#> l-flex-item}}
            <i class="fas fa-code-branch"></i>
          {{/l-flex-item}}
        {{/l-flex}}
      {{/table-td}}
      {{#> table-td table-td--data-label="Pull requests"}}
        {{#> l-flex l-flex--modifier="pf-m-space-items-sm pf-m-nowrap"}}
          {{#> l-flex-item}}
            21
          {{/l-flex-item}}
          {{#> l-flex-item}}
            <i class="fas fa-code"></i>
          {{/l-flex-item}}
        {{/l-flex}}
      {{/table-td}}
      {{#> table-td table-td--data-label="Workspaces"}}
        {{#> l-flex l-flex--modifier="pf-m-space-items-sm pf-m-nowrap"}}
          {{#> l-flex-item}}
            26
          {{/l-flex-item}}
          {{#> l-flex-item}}
            <i class="fas fa-cube"></i>
          {{/l-flex-item}}
        {{/l-flex}}
      {{/table-td}}
      {{#> table-td table-td--data-label="Last commit"}}
        2 days ago
      {{/table-td}}
      {{#> table-td table-td--action="true"}}
        {{> tabs--table-overflow-menu tabs--table-overflow-menu--id=(concat table--id "-dropdown-kebab-10")}}
      {{/table-td}}
    {{/table-tr}}
  {{/table-tbody}}
{{/table}}
