<div class="pf-c-form__input {{ pf-c-form--modifier }}">
  <input type="{{ type }}" id="{{ id }}" {{#if placeholder}} placeholder="{{ placeholder }}" {{/if}} {{#if value}} value="{{ value }}" {{/if}} {{#if name}} name="{{name}}" {{/if}} {{#if required}} required {{/if}} {{#if disabled }} disabled {{/if}} />
</div>
