{{#>form-control}}
  <div class="pf-c-form__input {{ pf-c-form--modifier }}">
    <input type="{{ input-type }}" id="{{ id }}" {{#if placeholder}} placeholder="{{ placeholder }}" {{/if}} {{#if value}} value="{{ value }}" {{/if}} {{#if input-name}} name="{{input-name}}" {{/if}} {{#if required}} required {{/if}} {{#if disabled }} disabled {{/if}} />
  </div>
{{/form-control}}
