{{#>form-control}}
  <div class="pf-c-form__input {{ modifierClass }}">
    <input type="{{ inputType }}" id="{{ id }}" {{#if placeholder}} placeholder="{{ placeholder }}" {{/if}} {{#if value}} value="{{ value }}" {{/if}} {{#if inputName}} name="{{inputName}}" {{/if}} {{#if required}} required {{/if}} {{#if disabled }} disabled {{/if}} />
  </div>
{{/form-control}}
