{{#if check-nested}}
  <label class="pf-c-form__label {{#if disabled}}pf-m-disabled{{/if}}" for="{{ radio-id }}">
    <input class="pf-c-form__radio" type="radio" id="{{ radio-id }}" name="{{ radio-name }}" {{#if disabled}} disabled {{/if}} {{#if checked}} checked {{/if}} {{#if tabindex }} tabindex="{{ tabindex }}" {{/if}} />
    {{ radio-label }}
  </label>
  {{> @partial-block}}
{{else}}
  <input class="pf-c-form__radio" type="radio" id="{{ radio-id }}" name="{{ radio-name }}" {{#if disabled}} disabled {{/if}} {{#if checked}} checked {{/if}} {{#if tabindex }} tabindex="{{ tabindex }}" {{/if}} />
  <label class="pf-c-form__label {{#if disabled}}pf-m-disabled{{/if}}" for="{{ radio-id }}">{{ radio-label }}</label>
  {{> @partial-block}}
{{/if}}
