{{#if checkNested}}
  <label class="pf-c-form__label {{#if disabled}}pf-m-disabled{{/if}}" for="{{ radioId }}">
    <input class="pf-c-form__radio" type="radio" id="{{ radioId }}" name="{{ radioName }}" value="{{ radioValue }}" {{#if disabled}} disabled {{/if}} {{#if checked}} checked {{/if}} {{#if tabindex }} tabindex="{{ tabindex }}" {{/if}} />
    {{ radioLabel }}
  </label>
  {{> @partial-block}}
{{else}}
  <input class="pf-c-form__radio" type="radio" id="{{ radioId }}" name="{{ radioName }}" value="{{ radioValue }}" {{#if disabled}} disabled {{/if}} {{#if checked}} checked {{/if}} {{#if tabindex }} tabindex="{{ tabindex }}" {{/if}} />
  <label class="pf-c-form__label {{#if disabled}}pf-m-disabled{{/if}}" for="{{ radioId }}">{{ radioLabel }}</label>
  {{> @partial-block}}
{{/if}}
