{{#> menu-breadcrumb}}
  {{#> breadcrumb breadcrumb--id=(concat menu--id '-breadcrumb') breadcrumb-link--IsButton="true"}}
    {{#> breadcrumb-list}}

      {{!-- level 2 --}}
      {{#if menu-breadcrumbs--Drilldown--IsLevel2}}
        {{#> breadcrumb-item}}
          {{> breadcrumb-item-divider}}
          {{#> breadcrumb-link}}
            All
          {{/breadcrumb-link}}
        {{/breadcrumb-item}}
        {{#> breadcrumb-item}}
          {{> breadcrumb-item-divider}}
          {{#> breadcrumb-heading}}
            {{#> breadcrumb-link breadcrumb-link--current="true"}}
              Edit
            {{/breadcrumb-link}}
          {{/breadcrumb-heading}}
        {{/breadcrumb-item}}

      {{!-- level 3 --}}
      {{else if menu-breadcrumbs--Drilldown--IsLevel3}}
        {{#> breadcrumb-item}}
          {{> breadcrumb-item-divider}}
          {{#> breadcrumb-link}}
            All
          {{/breadcrumb-link}}
        {{/breadcrumb-item}}

        {{#> menu-breadcrumbs--dropdown dropdown-toggle--Badge--text="1" dropdown--IsExpanded="true"}}
          {{> dropdown-menu-list-item dropdown-menu-item--text='<span class="{{pfv}}dropdown__menu-item-icon"><i class="fas fa-angle-left" aria-hidden="true"></i></span>Edit'}}
        {{/menu-breadcrumbs--dropdown}}

        {{#> breadcrumb-item}}
          {{> breadcrumb-item-divider}}
          {{#> breadcrumb-heading}}
            {{#> breadcrumb-link breadcrumb-link--current="true"}}
              Deployment
            {{/breadcrumb-link}}
          {{/breadcrumb-heading}}
        {{/breadcrumb-item}}

      {{!-- level 4 --}}
      {{else if menu-breadcrumbs--Drilldown--IsLevel4}}
        {{#> breadcrumb-item}}
          {{> breadcrumb-item-divider}}
          {{#> breadcrumb-link}}
            All
          {{/breadcrumb-link}}
        {{/breadcrumb-item}}

        {{#> menu-breadcrumbs--dropdown dropdown-toggle--Badge--text="2" dropdown--IsExpanded="true"}}
          {{> dropdown-menu-list-item dropdown-menu-item--text='<span class="{{pfv}}dropdown__menu-item-icon"><i class="fas fa-angle-left" aria-hidden="true"></i></span>Edit'}}
          {{> dropdown-menu-list-item dropdown-menu-item--text='<span class="{{pfv}}dropdown__menu-item-icon"><i class="fas fa-angle-left" aria-hidden="true"></i></span>Deployment'}}
        {{/menu-breadcrumbs--dropdown}}

        {{#> breadcrumb-item}}
          {{> breadcrumb-item-divider}}
          {{#> breadcrumb-heading}}
            {{#> breadcrumb-link breadcrumb-link--current="true"}}
              Labels
            {{/breadcrumb-link}}
          {{/breadcrumb-heading}}
        {{/breadcrumb-item}}
      {{/if}}
    {{/breadcrumb-list}}
  {{/breadcrumb}}
{{/menu-breadcrumb}}
{{> divider}}
