<span class="{{pfv}}label__text{{#if label-text--modifier}} {{label-text--modifier}}{{/if}}"
  {{#if label-text--attribute}}
    {{{label-text--attribute}}}
  {{/if}}>
  {{#if label-text--value}}
    {{{label-text--value}}}
  {{else if @partial-block}}
    {{> @partial-block}}
  {{/if}}
</span>
