<span class="{{pfv}}label__icon{{#if label-icon--modifier}} {{label-icon--modifier}}{{/if}}"
  {{#if label-icon--attribute}}
    {{{label-icon--attribute}}}
  {{/if}}>
  {{#if label-icon--value}}
    <i class="fas fa-fw fa-{{label-icon--value}}" aria-hidden="true"></i>
  {{else if @partial-block}}
    {{> @partial-block}}
  {{/if}}
</span>
