<div class="pf-c-dropdown{{#if dropdown--IsExpanded}} pf-m-expanded{{/if}}{{#if dropdown--modifier}} {{dropdown--modifier}}{{/if}}"
  {{#if dropdown--attribute}}
    {{{dropdown--attribute}}}
  {{/if}}>

  {{!-- if content is passed --}}
  {{#if @partial-block}}
    {{> @partial-block}}

  {{!-- split button template --}}
  {{else if dropdown--template--SplitButton}}
    {{> dropdown-toggle--template--split-button}}
    {{> dropdown-menu--template--split-button}}

  {{!-- groups template --}}
  {{else if dropdown--template--Groups}}
    {{> dropdown-toggle}}
    {{> dropdown-menu--template--groups}}

  {{!-- badge template --}}
  {{else if dropdown--template--Badge}}
    {{> dropdown-toggle dropdown-toggle--IsBadge="true"}}
    {{> dropdown-menu--template--Badge}}

  {{!-- breadcrumb template --}}
  {{else if dropdown--template--Breadcrumb}}
    {{> dropdown-toggle dropdown-toggle--IsBadge="true"}}
    {{> dropdown-menu--template--Breadcrumb}}

  {{!-- image and text template --}}
  {{else if dropdown--template--MenuToggleImageText}}
    {{#> dropdown-toggle}}
      {{#> dropdown-toggle-image}}
        {{> avatar avatar--attribute='src="/assets/images/img_avatar.svg" alt="Avatar image"'}}
      {{/dropdown-toggle-image}}
      {{#> dropdown-toggle-text}}
        Ned Username
      {{/dropdown-toggle-text}}
    {{/dropdown-toggle}}
    {{> dropdown-menu--template--toggle-image-text}}

  {{!-- description menu --}}
  {{else if dropdown--template--DescriptionMenu}}
    {{> dropdown-toggle}}
    {{> dropdown-menu--template--description}}

  {{!-- simple menu --}}
  {{else}}
    {{> dropdown-toggle}}
    {{> dropdown-menu--template--simple}}
  {{/if}}
</div>
