<label class="pf-c-dropdown__toggle-check{{#if dropdown-toggle-check--modifier}} {{dropdown-toggle-check--modifier}}{{/if}}"
  for="{{dropdown--id}}-toggle-check"
  {{#if dropdown-toggle-check--attribute}}
    {{{dropdown-toggle-check--attribute}}}
  {{/if}}>
  <input type="checkbox" id="{{dropdown--id}}-toggle-check"
    {{#if dropdown-toggle--IsDisabled}}
      disabled
    {{/if}}
    aria-label="{{#if dropdown-toggle-check--aria-label}}
      {{dropdown-toggle-check--aria-label}}
    {{else}}
      Check
    {{/if}}"
    {{#if dropdown-toggle-check--CheckboxIsChecked}}
      checked
    {{/if}}
    {{#if dropdown-toggle--split-button--text}}
      aria-labelledby="{{dropdown--id}}-toggle-check"
    {{/if}} />
  {{#if dropdown-toggle--split-button--text}}
    {{#> dropdown-toggle-text dropdown-toggle-text--attribute=(concat 'aria-hidden="true" id="' dropdown--id '-toggle-check-text"')}}
      {{{dropdown-toggle--split-button--text}}}
    {{/dropdown-toggle-text}}
  {{/if}}
</label>
