<button class="pf-c-dropdown__toggle-button{{#if dropdown-toggle-button--IsAction}} pf-m-action{{/if}}{{#if dropdown-toggle-button--modifier}} {{dropdown-toggle-button--modifier}}{{/if}}"
  {{#unless dropdown-toggle-button--IsAction}}
    id="{{id}}-toggle-button"
    {{#if aria-label}}
      aria-label="{{aria-label}}"
    {{/if}}
    aria-expanded="{{#if dropdown--IsExpanded}}true{{else}}false{{/if}}"
  {{/unless}}
  {{#if dropdown-toggle--IsDisabled}}
    disabled
  {{/if}}
  {{#if dropdown-toggle-button--attribute}}
	  {{{dropdown-toggle-button--attribute}}}
  {{/if}}>
  {{#if @partial-block}}
    {{{@partial-block}}}
  {{else}}
    <i class="fas fa-caret-down" aria-hidden="true"></i>
  {{/if}}
</button>
