<div class="pf-c-dropdown{{#if dropdown--IsExpanded}} pf-m-expanded{{/if}}{{#if dropdown--modifier}} {{dropdown--modifier}}{{/if}}"
  {{#if dropdown--attribute}}
    {{dropdown--attribute}}
  {{/if}}>
  <button id="{{id}}-button"
    class="pf-c-dropdown__toggle{{#if dropdown-toggle--modifier}} {{dropdown-toggle--modifier}}{{/if}}"
    aria-expanded="{{#if dropdown--IsExpanded}}true{{else}}false{{/if}}"
    {{#if aria-label}} aria-label="{{aria-label}}" {{/if}}>
    {{> @partial-block}}
    {{#if dropdown--HasToggleIcon}}
    {{> dropdown-toggle-icon}}
    {{/if}}
    {{#if dropdown--HasKebabIcon}}
    {{> kebab-icon}}
    {{/if}}
  </button>
  {{#if dropdown--IsActionMenu}}
    {{> dropdown-menu}}
  {{else}}
    {{> dropdown-basic}}
  {{/if}}
</div>
