<button class="{{pfv}}dropdown__toggle-button{{#if dropdown-toggle-button--modifier}} {{dropdown-toggle-button--modifier}}{{/if}}"
  type="button"
  {{#if dropdown--IsToggleButton}}
    aria-expanded="{{#if dropdown--IsExpanded}}true{{else}}false{{/if}}"
    id="{{dropdown--id}}-toggle-button"
  {{/if}}
  {{#if dropdown-toggle-button--aria-label}}
    aria-label="{{dropdown-toggle-button--aria-label}}"
  {{else}}
    aria-label="Dropdown toggle"
  {{/if}}
  {{#if dropdown-toggle--IsDisabled}}
    disabled
  {{/if}}
  {{#if dropdown-toggle-button--attribute}}
    {{{dropdown-toggle-button--attribute}}}
  {{/if}}>
  {{#if @partial-block}}
    {{> @partial-block}}
  {{else}}
    <i class="fas fa-caret-down" aria-hidden="true"></i>
  {{/if}}
</button>
