{{#if spinner--IsSvg}}
  <svg class="pf-c-spinner{{#if spinner--modifier}} {{spinner--modifier}}{{/if}}"
    role="progressbar"
    viewBox="0 0 100 100"
    {{#if spinner--aria-labelledby}}
      aria-labelledby="{{aria-labelledby}}"
    {{/if}}
    {{#if spinner--aria-describedby}}
      aria-labelledby="{{aria-describedby}}"
    {{/if}}
    {{#if @partial-block}}
      aria-label="{{> @partial-block}}"
    {{/if}}
    {{#if spinner--attribute}}
      {{{spinner--attribute}}}
    {{/if}}>
    <circle class="pf-c-spinner__path" cx="50" cy="50" r="45" fill="none"></circle>
  </svg>
{{else}}
  <span class="pf-c-spinner{{#if spinner--modifier}} {{spinner--modifier}}{{/if}}"
    role="progressbar"
    {{#if spinner--aria-labelledby}}
      aria-labelledby="{{aria-labelledby}}"
    {{/if}}
    {{#if spinner--aria-describedby}}
      aria-labelledby="{{aria-describedby}}"
    {{/if}}
    {{#if @partial-block}}
      aria-label="{{> @partial-block}}"
    {{/if}}
    {{#if spinner--attribute}}
      {{{spinner--attribute}}}
    {{/if}}
    {{#if spinner--attribute}}
      {{{spinner--attribute}}}
    {{/if}}>

    <span class="pf-c-spinner__clipper"></span>
    <span class="pf-c-spinner__lead-ball"></span>
    <span class="pf-c-spinner__tail-ball"></span>
  </span>
{{/if}}
