{{#> table table--id=(concat page--id '-table') table--grid="true" table--modifier="pf-m-grid-xl" table--attribute='aria-label="This is a table with checkboxes"'}}
  {{#> table-thead}}
    {{#> table-tr}}
      {{#> table-td table-td--check="true"}}
        <input type="checkbox" name="check-all" aria-label="Select all rows">
      {{/table-td}}
      {{#> table-th table-th--attribute='scope="col"'}}
        Repositories
      {{/table-th}}
      {{#> table-th table-th--attribute='scope="col"'}}
        Branches
      {{/table-th}}
      {{#> table-th table-th--attribute='scope="col"'}}
        Pull requests
      {{/table-th}}
      {{#> table-th table-th--attribute='scope="col"'}}
        Workspaces
      {{/table-th}}
      {{#> table-th table-th--attribute='scope="col"'}}
        Last commit
      {{/table-th}}
      {{> table-td table-td--IsEmpty="true"}}
      {{> table-td table-td--IsEmpty="true"}}
    {{/table-tr}}
  {{/table-thead}}

  {{#> table-tbody}}
    {{#> table-tr}}
      {{#> table-td table-td--check="true"}}
        <input type="checkbox" name="checkrow1" aria-labelledby="{{table--id}}-node1">
      {{/table-td}}
      {{#> table-th table-th--data-label="Repository name" table-th--no-wrapper="true"}}
        {{> table-flexible-wrapper table-flexible-wrapper--example="true" table-flexible-wrapper--example--text="Node 1" table-flexible-wrapper--example--id="node1" table-flexible-wrapper--example--HasLink="true"}}
      {{/table-th}}
      {{#> table-td table-td--data-label="Branches"}}
        <i class="fas fa-code-branch"></i> 10
      {{/table-td}}
      {{#> table-td table-td--data-label="Pull requests"}}
        <i class="fas fa-code"></i> 25
      {{/table-td}}
      {{#> table-td table-td--data-label="Workspaces"}}
        <i class="fas fa-cube"></i> 5
      {{/table-td}}
      {{#> table-td table-td--data-label="Last commit"}}
        2 days ago
      {{/table-td}}
      {{#> table-td table-td--data-label="Action"}}
        <a href="#">Action link</a>
      {{/table-td}}
      {{#> table-td table-td--action="true"}}
        {{#> dropdown id=(concat table--id "-dropdown-kebab-right-aligned-1") dropdown--IsActionMenu="true" dropdown-menu--modifier="pf-m-align-right" dropdown-toggle--modifier="pf-m-plain" dropdown--HasKebabIcon="true" aria-label="Actions"}}
        {{/dropdown}}
      {{/table-td}}
    {{/table-tr}}

    {{#> table-tr}}
      {{#> table-td table-td--check="true"}}
        <input type="checkbox" name="checkrow2" aria-labelledby="{{table--id}}-node2">
      {{/table-td}}
      {{#> table-th table-th--data-label="Repository name" table-th--no-wrapper="true"}}
        {{> table-flexible-wrapper table-flexible-wrapper--example="true" table-flexible-wrapper--example--text="Node 2" table-flexible-wrapper--example--id="node2" table-flexible-wrapper--example--HasLink="true"}}
      {{/table-th}}
      {{#> table-td table-td--data-label="Branches"}}
        <i class="fas fa-code-branch"></i> 8
      {{/table-td}}
      {{#> table-td table-td--data-label="Pull requests"}}
        <i class="fas fa-code"></i> 30
      {{/table-td}}
      {{#> table-td table-td--data-label="Workspaces"}}
        <i class="fas fa-cube"></i> 2
      {{/table-td}}
      {{#> table-td table-td--data-label="Last commit"}}
        2 days ago
      {{/table-td}}
      {{#> table-td table-td--data-label="Action"}}
        <a href="#">Action link</a>
      {{/table-td}}
      {{#> table-td table-td--action="true"}}
        {{#> dropdown id=(concat table--id "-dropdown-kebab-right-aligned-2") dropdown--IsActionMenu="true" dropdown-menu--modifier="pf-m-align-right" dropdown-toggle--modifier="pf-m-plain" dropdown--HasKebabIcon="true" aria-label="Actions"}}
        {{/dropdown}}
      {{/table-td}}
    {{/table-tr}}

    {{#> table-tr}}
      {{#> table-td table-td--check="true"}}
        <input type="checkbox" name="checkrow3" aria-labelledby="{{table--id}}-node3">
      {{/table-td}}
      {{#> table-th table-th--data-label="Repository name" table-th--no-wrapper="true"}}
        {{> table-flexible-wrapper table-flexible-wrapper--example="true" table-flexible-wrapper--example--text="Node 3" table-flexible-wrapper--example--id="node3" table-flexible-wrapper--example--HasLink="true"}}
      {{/table-th}}
      {{#> table-td table-td--data-label="Branches"}}
        <i class="fas fa-code-branch"></i> 12
      {{/table-td}}
      {{#> table-td table-td--data-label="Pull requests"}}
        <i class="fas fa-code"></i> 48
      {{/table-td}}
      {{#> table-td table-td--data-label="Workspaces"}}
        <i class="fas fa-cube"></i> 13
      {{/table-td}}
      {{#> table-td table-td--data-label="Last commit"}}
        30 days ago
      {{/table-td}}
      {{#> table-td table-td--data-label="Action"}}
        <a href="#">Action link</a>
      {{/table-td}}
      {{#> table-td table-td--action="true"}}
        {{#> dropdown id=(concat table--id "-dropdown-kebab-right-aligned-3") dropdown--IsActionMenu="true" dropdown-menu--modifier="pf-m-align-right" dropdown-toggle--modifier="pf-m-plain" dropdown--HasKebabIcon="true" aria-label="Actions"}}
        {{/dropdown}}
      {{/table-td}}
    {{/table-tr}}

    {{#> table-tr}}
      {{#> table-td table-td--check="true"}}
        <input type="checkbox" name="checkrow4" aria-labelledby="{{table--id}}-node4">
      {{/table-td}}
      {{#> table-th table-th--data-label="Repository name" table-th--no-wrapper="true"}}
        {{> table-flexible-wrapper table-flexible-wrapper--example="true" table-flexible-wrapper--example--text="Node 4" table-flexible-wrapper--example--id="node4" table-flexible-wrapper--example--HasLink="true"}}
      {{/table-th}}
      {{#> table-td table-td--data-label="Branches"}}
        <i class="fas fa-code-branch"></i> 3
      {{/table-td}}
      {{#> table-td table-td--data-label="Pull requests"}}
        <i class="fas fa-code"></i> 8
      {{/table-td}}
      {{#> table-td table-td--data-label="Workspaces"}}
        <i class="fas fa-cube"></i> 20
      {{/table-td}}
      {{#> table-td table-td--data-label="Last commit"}}
        8 days ago
      {{/table-td}}
      {{#> table-td table-td--data-label="Action"}}
        <a href="#">Action link</a>
      {{/table-td}}
      {{#> table-td table-td--action="true"}}
        {{#> dropdown id=(concat table--id "-dropdown-kebab-right-aligned-4") dropdown--IsActionMenu="true" dropdown-menu--modifier="pf-m-align-right" dropdown-toggle--modifier="pf-m-plain" dropdown--HasKebabIcon="true" aria-label="Actions"}}
        {{/dropdown}}
      {{/table-td}}
    {{/table-tr}}

    {{#> table-tr}}
      {{#> table-td table-td--check="true"}}
        <input type="checkbox" name="checkrow5" aria-labelledby="{{table--id}}-node5">
      {{/table-td}}
      {{#> table-th table-th--data-label="Repository name" table-th--no-wrapper="true"}}
        {{> table-flexible-wrapper table-flexible-wrapper--example="true" table-flexible-wrapper--example--text="Node 5" table-flexible-wrapper--example--id="node5" table-flexible-wrapper--example--HasLink="true"}}
      {{/table-th}}
      {{#> table-td table-td--data-label="Branches"}}
        <i class="fas fa-code-branch"></i> 34
      {{/table-td}}
      {{#> table-td table-td--data-label="Pull requests"}}
        <i class="fas fa-code"></i> 21
      {{/table-td}}
      {{#> table-td table-td--data-label="Workspaces"}}
        <i class="fas fa-cube"></i> 26
      {{/table-td}}
      {{#> table-td table-td--data-label="Last commit"}}
        2 days ago
      {{/table-td}}
      {{#> table-td table-td--data-label="Action"}}
        <a href="#">Action link</a>
      {{/table-td}}
      {{#> table-td table-td--action="true"}}
        {{#> dropdown id=(concat table--id "-dropdown-kebab-right-aligned-5") dropdown--IsActionMenu="true" dropdown-menu--modifier="pf-m-align-right" dropdown-toggle--modifier="pf-m-plain" dropdown--HasKebabIcon="true" aria-label="Actions"}}
        {{/dropdown}}
      {{/table-td}}
    {{/table-tr}}
  {{/table-tbody}}
{{/table}}
