{{#> data-list data-list--modifier="pf-m-compact" data-list-item--modifier="pf-m-draggable" data-list--id="table-manage-columns-data-list-draggable" data-list--attribute='aria-label="Draggable data list rows"'}}
  {{#> data-list-item data-list-item--id="item-1"}}
    {{#> data-list-item-row}}
      {{#> data-list-item-control}}
        {{> data-list-item-draggable-icon}}
        {{#> data-list-check data-list-check-checkbox--attribute=(concat 'name="' data-list--id '-check-action-check1" aria-labelledby="' data-list--id '-item-1" checked')}}{{/data-list-check}}
      {{/data-list-item-control}}
      {{#> data-list-item-content}}
        {{#> data-list-cell}}
          <span id="{{data-list--id}}-{{data-list-item--id}}">Repositories</span>
        {{/data-list-cell}}
      {{/data-list-item-content}}
    {{/data-list-item-row}}
  {{/data-list-item}}

  {{#> data-list-item data-list-item--id="item-2" data-list-item--modifier="pf-m-dragged"}}
    {{#> data-list-item-row}}
      {{#> data-list-item-control}}
        {{> data-list-item-draggable-icon}}
        {{#> data-list-check data-list-check-checkbox--attribute=(concat 'name="' data-list--id '-check-action-check2" aria-labelledby="' data-list--id '-item-2" checked')}}{{/data-list-check}}
      {{/data-list-item-control}}
      {{#> data-list-item-content}}
        {{#> data-list-cell}}
          <span id="{{data-list--id}}-{{data-list-item--id}}">Branches</span>
        {{/data-list-cell}}
      {{/data-list-item-content}}
    {{/data-list-item-row}}
  {{/data-list-item}}

  {{#> data-list-item data-list-item--id="item-3"}}
    {{#> data-list-item-row}}
      {{#> data-list-item-control}}
        {{> data-list-item-draggable-icon}}
        {{#> data-list-check data-list-check-checkbox--attribute=(concat 'name="' data-list--id '-check-action-check3" aria-labelledby="' data-list--id '-item-3" checked')}}{{/data-list-check}}
      {{/data-list-item-control}}
      {{#> data-list-item-content}}
        {{#> data-list-cell}}
          <span id="{{data-list--id}}-{{data-list-item--id}}">Pull requests</span>
        {{/data-list-cell}}
      {{/data-list-item-content}}
    {{/data-list-item-row}}
  {{/data-list-item}}

  {{#> data-list-item data-list-item--id="item-4"}}
    {{#> data-list-item-row}}
      {{#> data-list-item-control}}
        {{> data-list-item-draggable-icon}}
        {{#> data-list-check data-list-check-checkbox--attribute=(concat 'name="' data-list--id '-check-action-check4" aria-labelledby="' data-list--id '-item-4" checked')}}{{/data-list-check}}
      {{/data-list-item-control}}
      {{#> data-list-item-content}}
        {{#> data-list-cell}}
          <span id="{{data-list--id}}-{{data-list-item--id}}">Workspaces</span>
        {{/data-list-cell}}
      {{/data-list-item-content}}
    {{/data-list-item-row}}
  {{/data-list-item}}

  {{#> data-list-item data-list-item--id="item-5"}}
    {{#> data-list-item-row}}
      {{#> data-list-item-control}}
        {{> data-list-item-draggable-icon}}
        {{#> data-list-check data-list-check-checkbox--attribute=(concat 'name="' data-list--id '-check-action-check5" aria-labelledby="' data-list--id '-item-5" checked')}}{{/data-list-check}}
      {{/data-list-item-control}}
      {{#> data-list-item-content}}
        {{#> data-list-cell}}
          <span id="{{data-list--id}}-{{data-list-item--id}}">Last commit</span>
        {{/data-list-cell}}
      {{/data-list-item-content}}
    {{/data-list-item-row}}
  {{/data-list-item}}
{{/data-list}}
