<nav class="{{pfv}}pagination__nav{{#if pagination-nav--modifier}} {{pagination-nav--modifier}}{{/if}}"
  {{#if pagination-nav--aria-label}}
    aria-label="{{pagination-nav--aria-label}}"
  {{else}}
    aria-label="Pagination"
  {{/if}}
  {{#if pagination-nav--attribute}}
    {{{pagination-nav--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</nav>
