<span class="{{pfv}}table__tree-view-details-toggle{{#if table-tree-view-details-toggle--modifier}} {{table-tree-view-details-toggle--modifier}}{{/if}}"
  {{#if table-tree-view-details-toggle--attribute}}
    {{{table-tree-view-details-toggle--attribute}}}
  {{/if}}>
  <button class="{{pfv}}button pf-m-plain{{#if table-tr--details--IsExpanded}} pf-m-expanded{{/if}}" {{#if table-td--button--attribute}}{{{table-td--button--attribute}}}{{/if}} {{#if table-tr--details--IsExpanded}}aria-expanded="true"{{/if}} type="button" aria-label="{{table--id}}-{{table-tr--tree--index}}--tree-table--details-toggle">
    {{> table-details-toggle-icon}}
  </button>
</span>
