{{#>
  config
  table-th--tag=(ternary table-th--tag table-th--tag 'th')
}}

<{{table-th--tag}} class="{{pfv}}table__th
  {{#if table-th--modifier}} {{table-th--modifier}}{{/if}}
  {{#if table-th--IsCompoundExpansionToggle}} {{pfv}}table__compound-expansion-toggle{{/if}}
  {{#if table-th--IsSortable}} {{pfv}}table__sort{{/if}}
  {{#if table-th--IsStickyLeft}} {{pfv}}table__sticky-cell pf-m-left{{/if}}
  {{#if table-th--IsStickyRight}} {{pfv}}table__sticky-cell pf-m-right{{/if}}
  {{#if table-th--IsToggle}} {{pfv}}table__toggle{{/if}}
  {{#if table-th--IsCheckbox}} {{pfv}}table__check{{/if}}
  {{#if table-th--IsAction}} {{pfv}}table__action{{/if}}
  {{#if table-th--IsIcon}} {{pfv}}table__icon{{/if}}
  {{#if table-th--IsWrap}} pf-m-wrap{{/if}}
  {{#if table-th--IsSelected}} pf-m-selected{{/if}}
  {{#if table-th--IsSubhead}} {{pfPrefix 'table__subhead'}}{{/if}}
  {{#if table-th--IsColumnHelp}} pf-m-help{{/if}}
  {{#if table-th--IsFavorite}} pf-m-favorite{{/if}}"
  {{#if table--IsGrid}}
    {{#if table-th--IsRowHeader}}
      role="rowheader"
    {{else}}
      role="columnheader"
    {{/if}}
  {{/if}}
  {{#if table-th--IsSortable}}
    {{#if table-th--IsAsc}}
      aria-sort="ascending"
    {{else if table-th--desc}}
      aria-sort="descending"
    {{else}}
      aria-sort="none"
    {{/if}}
  {{/if}}

  {{#ifAny table-th--style table-th--min-width}}
    style="{{table-th--style}}{{#if table-th--min-width}} min-width: {{table-th--min-width}}{{/if}}"
  {{/ifAny}}

  {{#if table-th--attribute}}
    {{{table-th--attribute}}}
  {{/if}}
  {{#if table-th--data-label}}
    data-label="{{table-th--data-label}}"
  {{/if}}
  {{#if table-th--IsNode}}
    id="{{table--id}}-node{{table-tr--index}}"
  {{/if}}
  {{#if table-th--attribute}}
    {{{table-th--attribute}}}
  {{/if}}>
  {{#if table-th--IsColumnHelp}}
    <div class="{{pfv}}table__column-help">
  {{/if}}
  {{#if table-th--IsSortable}}
    {{#> table-button}}
      {{#> table-button-content}}
        {{#> table-text}}
          {{#if table-th--IsFavorite}}
            <i class="fas fa-star" aria-hidden="true"></i>
          {{else if @partial-block}}
            {{> @partial-block}}
          {{/if}}
        {{/table-text}}
        {{#> table-sort-indicator}}
          {{#if table-th--IsSelected}}
            {{#if table-th--IsAsc}}
              <i class="fas fa-long-arrow-alt-up"></i>
            {{else}}
              <i class="fas fa-long-arrow-alt-down"></i>
            {{/if}}
          {{else}}
            <i class="fas fa-arrows-alt-v"></i>
          {{/if}}
        {{/table-sort-indicator}}
      {{/table-button-content}}
    {{/table-button}}
  {{else if table-th--IsCompoundExpansionToggle}}
    {{#> table-button table-button--attribute=table-th--button--attribute}}
      {{#> table-text}}
        {{> @partial-block}}
      {{/table-text}}
    {{/table-button}}
  {{else if table-th--IsColumnHelp}}
    {{#> table-text}}
      {{> @partial-block}}
    {{/table-text}}
  {{else if @partial-block}}
    {{> @partial-block}}
  {{/if}}
  {{#if table-th--IsColumnHelp}}
    {{> table-column-help-action}}
    </div>
  {{/if}}
</{{table-th--tag}}>

{{/config}}
