<{{#if table-td--type}}{{table-td--type}}{{else}}td{{/if}} class="
  {{~#if table-td--toggle}} pf-c-table__toggle{{/if}}
  {{~#if table-td--check}} pf-c-table__check{{/if}}
  {{~#if table-td--action}} pf-c-table__action{{/if}}
  {{~#if table-td--icon}} pf-c-table__icon{{/if}}
  {{~#if table-td--compound-expansion-toggle}} pf-c-table__compound-expansion-toggle{{/if}}
  {{~#if table-td--IsStickyColumn}} pf-c-table__sticky-column{{/if}}
  {{~#if table-td--IsFavorite}} pf-c-table__favorite{{/if}}
  {{~#if table-td--IsFavorited}} pf-m-favorited{{/if}}
  {{~#if table-td--IsDraggable}} pf-c-table__draggable{{/if}}
  {{~#if table-td--modifier}} {{table-td--modifier}}{{/if}}"
  {{#unless table-td--IsEmpty}}
    {{#unless table-td--type}}
      {{#if table--IsTree-view}}
        role="gridcell"
      {{else}}
        role="cell"
      {{/if}}
    {{/unless}}
  {{/unless}}
  {{#if table-td--attribute}}
    {{{table-td--attribute}}}
  {{/if}}
  {{#if table-td--data-label}}
    data-label="{{table-td--data-label}}"
  {{/if}}>
  {{#unless table-td--IsEmpty}}
    {{#if table-td--toggle}}
      <button class="pf-c-button pf-m-plain{{#if table-tr--expanded}} pf-m-expanded{{/if}}" {{#if table-td--button--attribute}}{{{table-td--button--attribute}}}{{/if}} {{#if table-tr--expanded}}aria-expanded="true"{{/if}}>
        {{> table-toggle-icon}}
      </button>
    {{else if table-td--compound-expansion-toggle}}
      {{#> table-button table-button--attribute=table-th--button--attribute}}
        {{#> table-text}}
          {{> @partial-block}}
        {{/table-text}}
      {{/table-button}}
    {{else if table-td--IsFavorite}}
      {{> table-favorite-button}}
    {{else if table-td--IsDraggable}}
      {{> table-draggable-button}}
    {{else}}
      {{> @partial-block}}
    {{/if}}
  {{/unless}}
</{{#if table-td--type}}{{table-td--type}}{{else}}td{{/if}}>
