<span class="{{pfv}}table__sort-indicator{{#if table-sort-indicator--modifier}} {{table-sort-indicator--modifier}}{{/if}}"
  {{#if table-sort-indicator--attribute}}
    {{{table-sort-indicator--attribute}}}
  {{/if}}>
  {{#if table-th--IsSelected}}
    {{#if table-th--IsAsc}}
      <i class="fas fa-long-arrow-alt-up"></i>
    {{else}}
      <i class="fas fa-long-arrow-alt-down"></i>
    {{/if}}
  {{else}}
    <i class="fas fa-arrows-alt-v"></i>
  {{/if}}
</span>
