{{#> table-tr table-tr--index=table-tr--basic--index}}
  {{> table-cell-check}}
  {{#> table-th table-th--data-label="Repository name"}}
    {{#if table-tr--basic--title}}
      <div id="{{table--id}}-node{{table-tr--basic--index}}">{{{table-tr--basic--title}}}</div>
    {{else}}
      <div id="{{table--id}}-node{{table-tr--basic--index}}">Node {{table-tr--basic--index}}</div>
      <a href="#">siemur/test-space</a>
    {{/if}}
  {{/table-th}}
  {{> table-cell-action}}
{{/table-tr}}
