{{#> table-tbody table-tbody--IsExpanded=table-tbody--expandable--IsExpanded}}
  {{#> table-tr table-tr--IsExpanded="true" table-tr--expanded=table-tbody--expandable--IsExpanded table-tr--index=table-tbody--expandable--index}}
    {{> table--toggle}}
    {{> table--check}}
    {{#> table-th table-th--data-label="Repository name"}}
      <div>
        {{#if table-tbody--expandable--title}}
          <div id="{{table--id}}-node{{table-tbody--expandable--index}}">{{{table-tbody--expandable--title}}}</div>
        {{else}}
          <div id="{{table--id}}-node{{table-tbody--expandable--index}}">Node {{table-tbody--expandable--index}}</div>
          <a href="#">siemur/test-space</a>
        {{/if}}
      </div>
    {{/table-th}}
    {{#> table-td table-td--data-label="Branches"}}
      10
    {{/table-td}}
    {{#> table-td table-td--data-label="Pull requests"}}
      25
    {{/table-td}}
    {{#> table-td table-td--data-label="Action"}}
      <a href="#">Link {{table-tbody--expandable--index}}</a>
    {{/table-td}}
    {{#> table-td table-td--action="true"}}
      {{> dropdown dropdown--id=(concat table--id '-dropdown-kebab-' table-tbody--expandable--index) dropdown-menu--modifier="pf-m-align-right" dropdown-toggle--IsPlain="true"}}
    {{/table-td}}
  {{/table-tr}}

  {{#> table-tr table-tr--expandable="true" table-tr--IsExpanded=table-tbody--expandable--IsExpanded}}
    {{> table-td table-td--IsEmpty="true"}}
    {{> table-td table-td--IsEmpty="true"}}
    {{#> table-td table-td--attribute=(concat 'colspan="4" id="' table--id '-content' table-tbody--expandable--index '"')}}
      {{#> table-expandable-row-content}}
        Expandable content
      {{/table-expandable-row-content}}
    {{/table-td}}
    {{> table-td table-td--IsEmpty="true"}}
  {{/table-tr}}
{{/table-tbody}}
