<div class="{{pfv}}log-viewer__text{{#if log-viewer-text--modifier}} {{log-viewer-text--modifier}}{{/if}}"
  {{#if log-viewer-text--attribute}}
    {{{log-viewer-text--attribute}}}
  {{/if}}>
  {{#if log-viewer-text--text}}
    {{log-viewer-text--text}}
  {{else}}
    {{> @partial-block}}
  {{/if}}
</div>
