<span class="{{pfv}}log-viewer__index{{#if log-viewer-index--modifier}} {{log-viewer-index--modifier}}{{/if}}"
  {{#if log-viewer-index--attribute}}
    {{{log-viewer-index--attribute}}}
  {{/if}}
  aria-hidden="true">
  {{#if log-viewer-index--index}}
    {{log-viewer-index--index}}
  {{else}}
    {{> @partial-block}}
  {{/if}}
</span>
