<div class="{{pfv}}background-image{{#if background-image--modifier}} {{background-image--modifier}}{{/if}}"
  style="--{{pfv}}background-image--BackgroundImage: {{ternary background-image--background-image background-image--background-image "url(/assets/images/pf-background.svg)"}}"
  {{#if background-image--attribute}}
    {{{background-image--attribute}}}
  {{/if}}>
  {{#if @partial-block}}
    {{> @partial-block}}
  {{/if}}
</div>
