{{#> table-tr table-tr--attribute='role="row"' table-tr--tree--HasActions=table-tr--HasActions}}
  {{#> table-th table-th--modifier="pf-c-table__tree-view-title-cell"}}
    {{#> table-tree-view-main}}
      {{#unless table-tr--tree--IsLeaf}}
        {{> table-td table-td--type="span" table-td--toggle="true" table-td--button--attribute=(concat 'aria-labelledby="' table--id '-node-' table-tr--tree--index ' ' table--id '-expandable-toggle-' table-tr--tree--index '" id="' table--id '-expandable-toggle-' table-tr--tree--index '" aria-label="Details"')}}
      {{/unless}}
      {{#unless table-tr--tree--HasNoCheckbox}}
        {{#if tree-view--HasCheckboxes}}
          {{#> table-td table-td--type="span" table-td--check="true"}}
            <label>
              <input type="checkbox" name="{{table--id}}-checkrow-{{table-tr--tree--index}}" aria-labelledby="{{table--id}}-node-{{table-tr--tree--index}}">
            </label>
          {{/table-td}}
        {{/if}}
      {{/unless}}
      {{#if table-tr--tree--HasActions}}
        {{#> table-td table-td--action="true"}}
          {{> dropdown dropdown--id=(concat table--id '-actions-main') dropdown-menu--modifier="pf-m-align-right" dropdown-toggle--IsPlain="true"}}
        {{/table-td}}
      {{/if}}
      {{#> table-tree-view-text}}
        {{#if table-tree-view--HasIcons}}
          {{#> table-tree-view-icon}}
            {{#if table-tr--tree--IsLeaf}}
              <i class="fas fa-fw fa-leaf" aria-hidden="true"></i>
            {{else}}
              <i class="fas fa-fw fa-folder" aria-hidden="true"></i>
            {{/if}}
          {{/table-tree-view-icon}}
        {{/if}}
        {{#> table-text table-text--attribute=(concat 'id="' table--id '-node-' table-tr--tree--index '"')}}
          {{#if table-tr--tree--title}}
            {{{table-tr--tree--title}}}
          {{else}}
            Datacenters
          {{/if}}
        {{/table-text}}
      {{/table-tree-view-text}}
      {{> table-tree-view-details-toggle}}
      {{#if @partial-block}}
        {{> @partial-block}}
      {{/if}}
    {{/table-tree-view-main}}
  {{/table-th}}
  {{#> table-td table-td--data-label="Migration assessment"}}
    10
  {{/table-td}}
  {{#> table-td table-td--data-label="Size of VM"}}
    25
  {{/table-td}}
  {{#> table-td table-td--data-label="Number of Data Stores"}}
    5
  {{/table-td}}
  {{#> table-td table-td--action="true"}}
    {{> dropdown dropdown--id=(concat table--id '-' table-tr--tree--index '-actions') dropdown-menu--modifier="pf-m-align-right" dropdown-toggle--IsPlain="true"}}
  {{/table-td}}
{{/table-tr}}
