<span class="pf-c-button__progress{{#if button-progress--modifier}} {{button-progress--modifier}}{{/if}}"
  {{#if button-progress--attribute}}
    {{{button-progress--attribute}}}
  {{/if}}>
  {{#if button--IsInline}}
    {{> button-progress--spinner button-progress--spinner--modifier="pf-m-inline"}}
  {{else}}
    {{> button-progress--spinner button-progress--spinner--modifier="pf-m-md"}}
  {{/if}}
</span>

{{#*inline "button-progress--spinner"}}
  {{#> spinner spinner--modifier=button-progress--spinner--modifier~}}
    {{~#if button--progress-text~}}
      {{~button--progress-text~}}
    {{~else~}}
      Loading...
    {{~/if~}}
  {{~/spinner}}
{{/inline}}
