<<<<<<< HEAD
<input class="pf-c-check{{#if check--modifier}} {{check--modifier}}{{/if}}"
  {{#if check--attribute}}
    {{{check--attribute}}}
  {{/if}}
  {{#if id}}
    id="{{id}}"
  {{/if}}
  {{#if disabled}}
    disabled
  {{/if}}
  {{#if checked}} 
    checked
  {{/if}}
  {{#if tabindex}}
    tabindex="{{tabindex}}"
  {{/if}}
  {{#if aria-describedby}}
    aria-describedby="{{aria-describedby}}"
  {{/if}}
  {{#if aria-invalid}}
    aria-invalid="true"
  {{/if}}
  {{#if aria-label}}
    aria-label="{{aria-label}}"
  {{/if}}
  {{#if aria-errormessage}}
    aria-errormessage="{{aria-errormessage}}"
  {{/if}}
  {{#if required}}
    required aria-required="true"
  {{/if}}
>





=======
<div class="pf-c-check{{#if check-modifier}} {{check--modifier}}{{/if}}">
  {{>@partial-block}}
</div>
  
>>>>>>> master
