<span class="{{pfv}}check__description{{#if check-description--modifier}} {{check-description--modifier}}{{/if}}"
  id="{{check--id}}-description"
  {{#if check-description--attribute}}
    {{{check-description--attribute}}}
  {{/if}}>
  {{#if check-description--text}}
    {{check-description--text}}
  {{else if @partial-block}}
    {{> @partial-block}}
  {{/if}}
</span>
