<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PatternFly Workspace</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap-reboot.css">
  <link rel="stylesheet" href="/css/workspace.css">
  <link rel="stylesheet" href="/dist/components/components.css">
  <link rel="stylesheet" href="/dist/layouts/layouts.css">
  <link rel="stylesheet" href="/dist/patterns/patterns.css">
</head>
<body>
<div class="pf-workspace">
  <nav class="pf-workspace__navigation">
    <ul class="pf-workspace__navigation__items">
      <% workspace.navigation.forEach(function (navItem) { %>
        <li class="pf-workspace__navigation__item">
          <a href="<%= navItem.path %>" class="pf-workspace__navigation_link is-<%= navItem.type %>"><%= navItem.name %></a>
        </li>
      <% }) %>
    </ul>
  </nav>
  <div class="pf-workspace__demo">
    <% if (resourceName) { %>
    <div class="pf-workspace__demo__toolbar">
      <h2><%= resourceName %></h2>
      <a href="<%= documentation %>">documentation</a>
    </div>
    <% } %>
    <% if (page) { %>
      <link rel="stylesheet" href="<%= styles %>">
      <div class="pf-workspace__demo__examples">
        <%- include(page, {}) %>
      </div>
    <% } %>
  </div>
</div>
<script>
  let templates = document.querySelectorAll('template')
  if (templates.length) {
    let examples = document.querySelector('.pf-workspace__demo__examples')
    let examplesContent = document.createDocumentFragment()
    templates.forEach((template) => {
      let exampleEl = document.createElement('div')
      let templateContent = document.importNode(template.content, true)
      let templateTitleEl = document.createElement('h2')
      let templateDescriptionEl = document.createElement('p')
      let templateContentEl = document.createElement('div')

      exampleEl.setAttribute('class', 'pf-workspace__demo__example')
      templateContentEl.setAttribute('class', 'pf-workspace__demo__example__content')
      templateTitleEl.setAttribute('class', 'pf-workspace__demo__example_title')
      templateDescriptionEl.setAttribute('class', 'pf-workspace__demo__example_description')
      templateContentEl.appendChild(templateContent)

      if (template.dataset.title) {
        templateTitleEl.innerText = template.dataset.title
        exampleEl.appendChild(templateTitleEl)
      }

      if (template.dataset.description) {
        templateDescriptionEl.innerText = template.dataset.description
        exampleEl.appendChild(templateDescriptionEl)
      }

      exampleEl.appendChild(templateContentEl)
      examplesContent.appendChild(exampleEl)
    })
    examples.appendChild(examplesContent)
  }
</script>
</body>
</html>
