<span class="{{pfv}}masthead__toggle{{#if masthead-toggle--modifier}} {{masthead-toggle--modifier}}{{/if}}"
  {{#if masthead-toggle--attribute}}
    {{{masthead-toggle--attribute}}}
  {{/if}}>
  {{#if @partial-block}}
    {{> @partial-block}}
  {{else}}
    {{#> button button--modifier="pf-m-plain" button--attribute='aria-label="Global navigation"' button--attribute='aria-expanded="false"'}}
      {{#if masthead-toggle--icon}}
        <i class="fas fa-{{masthead-toggle--icon}}" aria-hidden="true"></i>
      {{else}}
        <i class="fas fa-bars" aria-hidden="true"></i>
      {{/if}}
    {{/button}}
  {{/if}}
</span>
