<span class="{{pfv}}helper-text__item-icon{{#if helper-text-item-icon--modifier}} {{helper-text-item-icon--modifier}}{{/if}}"
  {{#if helper-text-item-icon--attribute}}
    {{{helper-text-item-icon--attribute}}}
  {{/if}}>
  {{#if helper-text-item--IsIndeterminate}}
    <i class="fas fa-fw fa-minus" aria-hidden="true"></i>
  {{else if helper-text-item--IsWarning}}
    <i class="fas fa-fw fa-exclamation-triangle" aria-hidden="true"></i>
  {{else if helper-text-item--IsSuccess}}
    <i class="fas fa-fw fa-check-circle" aria-hidden="true"></i>
  {{else if helper-text-item--IsError}}
    <i class="fas fa-fw fa-exclamation-circle" aria-hidden="true"></i>
  {{else if @partial-block}}
    {{> @partial-block}}
  {{else if helper-text-item-icon--type}}
    <i class="fas fa-fw fa-{{helper-text-item-icon--type}}" aria-hidden="true"></i>
  {{/if}}
</span>
