<span class="{{pfv}}helper-text__item-text{{#if helper-text-item-text--modifier}} {{helper-text-item-text--modifier}}{{/if}}"
  {{#if helper-text-item-text--attribute}}
    {{{helper-text-item-text--attribute}}}
  {{/if}}>
  {{#if helper-text--value}}
    {{{helper-text--value}}}
  {{else if @partial-block}}
    {{> @partial-block}}
  {{/if}}
</span>
