{{#> data-list data-list--id=(concat primary-detail-template--id '-card-data-list') data-list--attribute='aria-label="Selectable rows data list example"' data-list-item--IsSelectable="true"}}
  {{#> data-list-item data-list-item--id="item-1"}}
    {{#> data-list-item-row}}
      {{#> data-list-item-content}}
        {{#> data-list-cell}}
          <div id="{{data-list--id}}-{{data-list-item--id}}">Node 1</div>
          <a href="#">siemur/test-space</a>
        {{/data-list-cell}}
      {{/data-list-item-content}}
    {{/data-list-item-row}}
  {{/data-list-item}}

  {{#> data-list-item data-list-item--id="item-2" data-list-item--IsSelected="true"}}
    {{#> data-list-item-row}}
      {{#> data-list-item-content}}
        {{#> data-list-cell}}
          <div id="{{data-list--id}}-{{data-list-item--id}}">Node 2</div>
          <a href="#">siemur/test-space</a>
        {{/data-list-cell}}
      {{/data-list-item-content}}
    {{/data-list-item-row}}
  {{/data-list-item}}

  {{#> data-list-item data-list-item--id="item-3"}}
    {{#> data-list-item-row}}
      {{#> data-list-item-content}}
        {{#> data-list-cell}}
          <div id="{{data-list--id}}-{{data-list-item--id}}">Node 3</div>
          <a href="#">siemur/test-space</a>
        {{/data-list-cell}}
      {{/data-list-item-content}}
    {{/data-list-item-row}}
  {{/data-list-item}}

  {{#> data-list-item data-list-item--id="item-4"}}
    {{#> data-list-item-row}}
      {{#> data-list-item-content}}
        {{#> data-list-cell}}
          <div id="{{data-list--id}}-{{data-list-item--id}}">Node 4</div>
          <a href="#">siemur/test-space</a>
        {{/data-list-cell}}
      {{/data-list-item-content}}
    {{/data-list-item-row}}
  {{/data-list-item}}

  {{#> data-list-item data-list-item--id="item-5"}}
    {{#> data-list-item-row}}
      {{#> data-list-item-content}}
        {{#> data-list-cell}}
          <div id="{{data-list--id}}-{{data-list-item--id}}">Node 5</div>
          <a href="#">siemur/test-space</a>
        {{/data-list-cell}}
      {{/data-list-item-content}}
    {{/data-list-item-row}}
  {{/data-list-item}}

  {{#> data-list-item data-list-item--id="item-6"}}
    {{#> data-list-item-row}}
      {{#> data-list-item-content}}
        {{#> data-list-cell}}
          <div id="{{data-list--id}}-{{data-list-item--id}}">Node 6</div>
          <a href="#">siemur/test-space</a>
        {{/data-list-cell}}
      {{/data-list-item-content}}
    {{/data-list-item-row}}
  {{/data-list-item}}

  {{#> data-list-item data-list-item--id="item-7"}}
    {{#> data-list-item-row}}
      {{#> data-list-item-content}}
        {{#> data-list-cell}}
          <div id="{{data-list--id}}-{{data-list-item--id}}">Node 7</div>
          <a href="#">siemur/test-space</a>
        {{/data-list-cell}}
      {{/data-list-item-content}}
    {{/data-list-item-row}}
  {{/data-list-item}}

  {{#> data-list-item data-list-item--id="item-8"}}
    {{#> data-list-item-row}}
      {{#> data-list-item-content}}
        {{#> data-list-cell}}
          <div id="{{data-list--id}}-{{data-list-item--id}}">Node 8</div>
          <a href="#">siemur/test-space</a>
        {{/data-list-cell}}
      {{/data-list-item-content}}
    {{/data-list-item-row}}
  {{/data-list-item}}

  {{#> data-list-item data-list-item--id="item-9"}}
    {{#> data-list-item-row}}
      {{#> data-list-item-content}}
        {{#> data-list-cell}}
          <div id="{{data-list--id}}-{{data-list-item--id}}">Node 9</div>
          <a href="#">siemur/test-space</a>
        {{/data-list-cell}}
      {{/data-list-item-content}}
    {{/data-list-item-row}}
  {{/data-list-item}}

  {{#> data-list-item data-list-item--id="item-10"}}
    {{#> data-list-item-row}}
      {{#> data-list-item-content}}
        {{#> data-list-cell}}
          <div id="{{data-list--id}}-{{data-list-item--id}}">Node 10</div>
          <a href="#">siemur/test-space</a>
        {{/data-list-cell}}
      {{/data-list-item-content}}
    {{/data-list-item-row}}
  {{/data-list-item}}
{{/data-list}}
