<span class="{{pfv}}menu-toggle__icon
  {{setModifiers
    menu-toggle-icon--HasAvatar='pf-m-avatar'
    menu-toggle-icon--modifier=menu-toggle-icon--modifier
  }}"
  {{#if menu-toggle-icon--attribute}}
    {{{menu-toggle-icon--attribute}}}
  {{/if}}>
  {{#if menu-toggle--icon}}
    <i class="fas fa-{{menu-toggle--icon}}" aria-hidden="true"></i>
  {{else if @partial-block}}
    {{> @partial-block}}
  {{/if}}
</span>
