<span class="{{pfv}}menu-toggle__count{{#if menu-toggle-count--modifier}} {{menu-toggle-count--modifier}}{{/if}}"
  {{#if menu-toggle-count--attribute}}
    {{{menu-toggle-count--attribute}}}
  {{/if}}>
  {{#if menu-toggle--count}}
    {{menu-toggle--count}}
  {{else if @partial-block}}
    {{> @partial-block}}
  {{/if}}
</span>
