<span class="{{pfv}}menu-toggle__text{{#if menu-toggle-text--modifier}} {{menu-toggle-text--modifier}}{{/if}}"
  {{#if menu-toggle-text--attribute}}
    {{{menu-toggle-text--attribute}}}
  {{/if}}>
  {{#if menu-toggle--text}}
    {{menu-toggle--text}}
  {{else if @partial-block}}
    {{> @partial-block}}
  {{/if}}
</span>
