<li class="{{#if overflow-menu-dropdown-item--modifier}}{{overflow-menu-dropdown-item--modifier}}{{/if}}{{#if overflow-menu-dropdown-item--IsShared}} pf-c-overflow-menu__shared-item{{/if}}"
  {{#if overflow-menu-dropdown-item--attribute}}
    {{overflow-menu-dropdown-item--attribute}}
  {{/if}}>
  <{{#if overflow-menu-dropdown-item--IsAnchorLink}}a{{else}}button{{/if}} class="pf-c-dropdown__menu-item{{#if overflow-menu-dropdown-item--modifier}} {{overflow-menu-dropdown-items--modifier}}{{/if}}">
    {{> @partial-block}}
  </{{#if overflow-menu-dropdown-item--IsAnchorLink}}a{{else}}button{{/if}}>
</li>