<span class="{{pfv}}radio__description{{#if radio-description--modifier}} {{radio-description--modifier}}{{/if}}"
  {{#ifAny radio-description--text radio--HasDescriptionText}}
    id="{{radio--id}}-description"
  {{/ifAny}}
  {{#if radio-description--attribute}}
    {{{radio-description--attribute}}}
  {{/if}}>
  {{#if radio-description--text}}
    {{radio-description--text}}
  {{else if @partial-block}}
    {{> @partial-block}}
  {{/if}}
</span>
