<span class="{{pfv}}notification-drawer__list-item-header-icon{{#if notification-drawer-list-item-header-icon--modifier}} {{notification-drawer-list-item-header-icon--modifier}}{{/if}}"
  {{#if notification-drawer-list-item-header-icon--attribute}}
    {{{notification-drawer-list-item-header-icon--attribute}}}
  {{/if}}>
  {{#if notification-drawer-list-item--IsInfo}}
    {{pfIcon "rh-ui-information-fill"}}
  {{else if notification-drawer-list-item--IsWarning}}
    {{pfIcon "rh-ui-warning-fill"}}
  {{else if notification-drawer-list-item--IsDanger}}
    {{pfIcon "rh-ui-error-fill"}}
  {{else if notification-drawer-list-item--IsSuccess}}
    {{pfIcon "rh-ui-check-circle-fill"}}
  {{else if notification-drawer-list-item--IsCustom}}
    {{pfIcon "rh-ui-notification-fill"}}
  {{/if}}
</span>
