<span class="{{pfv}}nav__link-text{{#if nav-link-text--modifier}} {{nav-link-text--modifier}}{{/if}}"
  {{#if nav-link-text--attribute}}
    {{{nav-link-text--attribute}}}
  {{/if}}>
  {{#if nav-link--text}}
    {{{nav-link--text}}}
  {{else if @partial-block}}
    {{> @partial-block}}
  {{/if}}
</span>
