<span class="{{pfv}}nav__toggle-icon">
  {{#if nav-item--IsExpandable}}
    {{pfIcon "rh-microns-caret-down"}}
  {{else}}
    {{#if nav-item--IsDrillup}}
      {{pfIcon "rh-microns-caret-left"}}
    {{else}}
      {{pfIcon "rh-microns-caret-right"}}
    {{/if}}
  {{/if}}
</span>
