<nav class="{{pfv}}nav
  {{setModifiers
      nav--IsHorizontal='pf-m-horizontal'
      nav--IsHorizontalSubnav='pf-m-horizontal pf-m-subnav'
      nav--IsScrollable='pf-m-scrollable'
      nav--modifier=nav--modifier
    }}"
  {{#if aria-label}}
    aria-label="{{aria-label}}"
  {{/if}}
  {{#if nav--attribute}}
    {{{nav--attribute}}}
  {{/if}}>
  {{#if nav--HasScroll}}
    {{> nav-scroll-button nav-scroll-button--attribute="disabled" nav-scroll-button--IsLeft="true"}}
    {{> @partial-block}}
    {{#if nav--IsScrollable}}
      {{> nav-scroll-button nav-scroll-button--IsRight="true"}}
    {{else}}
      {{> nav-scroll-button nav-scroll-button--attribute="disabled" nav-scroll-button--IsRight="true"}}
    {{/if}}
  {{else}}
    {{> @partial-block}}
  {{/if}}
</nav>
