<div class="{{pfv}}about-modal-box{{#if about-modal-box--modifier}} {{about-modal-box--modifier}}{{/if}}"
  style="--{{pfv}}about-modal-box--BackgroundImage: {{ternary about-modal-box--background-image about-modal-box--background-image "url(/assets/images/pfbg-icon.svg)"}}"
  {{#if about-modal-box--attribute}}
    {{{about-modal-box--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
