<span class="{{pfv}}truncate__file-extension{{#if truncate-file-extension--modifier}} {{truncate-file-extension--modifier}}{{/if}}"
  {{#if truncate-file-extension--attribute}}
    {{{truncate-file-extension--attribute}}}
  {{/if}}>
  {{#if truncate-file-extension--text}}
    {{{truncate-file-extension--text}}}
  {{else if @partial-block}}
    {{> @partial-block}}
  {{/if}}
</span>
