<span class="{{pfv}}truncate__omission{{#if truncate-omission--modifier}} {{truncate-omission--modifier}}{{/if}}"
  {{#if truncate-start--attribute}}
    {{{truncate-start--attribute}}}
  {{/if}}
  aria-hidden="true">
  {{#if truncate-omission--text}}
    {{{truncate-omission--text}}}
  {{else}}
    &hellip;
  {{/if}}
</span>